<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new group</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

  You can fill in all of the details later.  To get started, enter your group's title and a brief description.

<form class="form-horizontal" name="addGroup">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input ng-model="group.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" required aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="group.description" md-maxlength="1550" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Tag</label>
          <input ng-model="group.tag" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" required minlength="2" maxlength="10" aria-invalid="false">
          <div class="hint">This is the tag that will be shown in front of player's names [tag] as well as your URL link.  This must be unique.</div>
          <div class="md-errors-spacer"></div>
          <div ng-messages="addGroup.tag.$error" multiple md-auto-hide="false">
          <div ng-message="min">
            Minimum tag size is 2 characters
          </div>
          <div ng-message="max">
            Maximum tag size is 10 characters
          </div>
        </div>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
        <md-select ng-model="group.genre" placeholder="Genre" class="md-no-underline">
          <md-option value="Clan">Clan</md-option>
          <md-option value="Community">Community</md-option>
          <md-option value="eSports">eSports</md-option>
          <md-option value="Guild">Guild</md-option>
        </md-select>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
        <md-checkbox ng-model="group.recruiting" aria-label="recruiting">
            Currently recruiting new players
          </md-checkbox>
          <div class="hint">Recruiting must be enabled for new users to apply to join your group.</div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Recruiting Policy</label>
          <textarea ng-model="group.recruiting_poilicy" md-maxlength="1550" rows="5" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Application Message</label>
          <textarea ng-model="group.application_message" md-maxlength="1550" rows="5" md-select-on-focus></textarea>
          <div class="hint">What would you like applicants to include with thier application?</div>
        </md-input-container>

<md-button type="submit" ng-click="submitAdd()">Submit</md-button>

</fieldset>
</form>
