<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">{{ group.title }}</h3>
        <span flex></span>
        <md-button  ng-if="user.admin"  class="md-icon-button" ui-sref="admingroupdetail({ key_id: group.key_id})">
          <i class="material-icons">mode_edit</i>
        </md-button>

        <md-button ng-show="user" class="md-primary md-raised" ng-click="showDonateDialog($event)"  > Donate</md-button>

        <span matTooltip="Group Configuration"
              ng-show="userIsOwner" >
          <md-button class="md-icon-button"
                      ng-click="toggleViewEditForm()">
            <i class="material-icons">edit</i>
          </md-button>
        </span>

        <md-button class="md-icon-button"
                    matTooltip="Group Roles"
                    ng-show="userCanEditGroupRoles"
                    ng-click="toggleViewRolesForm()">
          <i class="material-icons">perm_data_setting</i>
        </md-button>

        <md-button class="md-icon-button"
                    matTooltip="Group Transactions"
                    ng-show="userCanViewTransactions"
                    ng-click="toggleViewTransactions()">
          <i class="material-icons">receipt</i>
        </md-button>


      </div>
    </md-toolbar>

    <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" ng-show="viewEditForm">
          <div class="md-toolbar-tools">
            <h3 class="ng-binding">{{ group.title }} : details</h3>
          </div>
        </md-toolbar>

          <md-content layout-padding="" class="layout-padding _md" ng-if="viewEditForm">
            <form name="form" novalidate>
            <md-input-container class="md-block md-input-has-value">
              <label for="input_title">Title</label>
              <input ng-model="groupEditableData.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Description</label>
              <textarea ng-model="groupEditableData.description" md-maxlength="550" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container class="md-block md-input-has-value">
              <label for="input_title">Tag</label>
              <input ng-model="groupEditableData.tag" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" required minlength="2" maxlength="10" aria-invalid="false">
              <div class="hint">This is the tag that will be shown in front of player's names [tag] as well as your URL link.  This must be unique.</div>
              <div class="md-errors-spacer"></div>
              <div ng-messages="addGroup.tag.$error" multiple md-auto-hide="false">
              <div ng-message="min">
                Minimum tag size is 2 characters
              </div>
              <div ng-message="max">
                Maximum tag size is 10 characters
              </div>
            </div>
            </md-input-container>


            <md-input-container class="md-block md-input-has-value">
            <md-select ng-model="groupEditableData.genre" placeholder="Genre" class="md-no-underline">
              <md-option value="Clan">Clan</md-option>
              <md-option value="Community">Community</md-option>
              <md-option value="eSports">eSports</md-option>
              <md-option value="Guild">Guild</md-option>
            </md-select>
            </md-input-container>

            <md-input-container class="md-block md-input-has-value">
            <md-checkbox ng-model="groupEditableData.recruiting" aria-label="recruiting">
                Currently recruiting new players
              </md-checkbox>
              <div class="hint">Recruiting must be enabled for new users to apply to join your group.</div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Recruiting Policy</label>
              <textarea ng-model="groupEditableData.recruiting_poilicy" md-maxlength="1550" rows="5" md-select-on-focus></textarea>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Application Message</label>
              <textarea ng-model="groupEditableData.application_message" md-maxlength="1550" rows="5" md-select-on-focus></textarea>
            </md-input-container>


            <md-input-container class="md-block md-input-has-value">
              <label for="website_url">Website URL</label>
              <input ng-model="groupEditableData.website" class="ng-pristine ng-untouched ng-valid md-input" id="website" aria-invalid="false"><div class="md-errors-spacer"></div>
            </md-input-container>

            <md-input-container class="md-block md-input-has-value">
              <label for="input_icon_url">Icon URL</label>
              <input ng-model="groupEditableData.iconServingUrl" class="ng-pristine ng-untouched ng-valid md-input" id="input_icon_url" aria-invalid="false"><div class="md-errors-spacer"></div>
            </md-input-container>

            <md-input-container class="md-block md-input-has-value">
              <label for="input_banner_url">Banner URL</label>
              <input ng-model="groupEditableData.bannerServingUrl" class="ng-pristine ng-untouched ng-valid md-input" id="input_banner_url" aria-invalid="false"><div class="md-errors-spacer"></div>
            </md-input-container>







                        <md-input-container class="md-block md-input-has-value">
                          <label for="slack_webhook">Slack Webhook</label>
                          <input ng-model="groupEditableData.slack_webhook" class="ng-pristine ng-untouched ng-valid md-input" id="slack_webhook" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>


                        <md-checkbox ng-model="groupEditableData.slack_subscribe_errors" aria-label="slack_subscribe_errors">
                            Errors
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.slack_subscribe_transactions" aria-label="slack_subscribe_transactions">
                            Transactions
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.slack_subscribe_config_changes" aria-label="slack_subscribe_config_changes">
                            Config Changes
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.slack_subscribe_new_users" aria-label="slack_subscribe_new_users">
                            New Users
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.slack_subscribe_tournaments" aria-label="slack_subscribe_tournaments">
                            Tournaments
                        </md-checkbox>

                        <md-input-container class="md-block md-input-has-value">
                          <label for="discord_webhook">Discord Webhook</label>
                          <input ng-model="groupEditableData.discord_webhook" class="ng-pristine ng-untouched ng-valid md-input" id="discord_webhook" aria-invalid="false"><div class="md-errors-spacer"></div>
                        </md-input-container>

                        <md-checkbox ng-model="groupEditableData.discord_subscribe_errors" aria-label="discord_subscribe_errors">
                            Errors
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.discord_subscribe_transactions" aria-label="discord_subscribe_transactions">
                            Transactions
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.discord_subscribe_config_changes" aria-label="discord_subscribe_config_changes">
                            Config Changes
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.discord_subscribe_new_users" aria-label="discord_subscribe_new_users">
                            New Users
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.discord_subscribe_tournaments" aria-label="discord_subscribe_tournaments">
                            Tournaments
                        </md-checkbox>

                        <md-checkbox ng-model="groupEditableData.discord_subscribe_group_event_feeds" aria-label="discord_subscribe_group_event_feeds">
                            Event Feed
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.discord_subscribe_game_event_feeds" aria-label="discord_subscribe_game_event_feeds">
                            Game Event Feeds
                        </md-checkbox>
                        <md-checkbox ng-model="groupEditableData.discord_subscribe_consignments" aria-label="discord_subscribe_consignments">
                            Consignment activity
                        </md-checkbox>



                <div>
                  <md-button type="submit" ng-click="submit(form, groupEditableData)" >Save</md-button>
                </div>
                <div>
                  <md-button type="submit" ng-click="remove(groupEditableData)" >Delete</md-button>
                </div>
              </form>

          </md-content>


          <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" ng-show="viewRolesForm">
                <div class="md-toolbar-tools">
                  <h3 class="ng-binding">{{ group.title }} : roles</h3>
                  <span flex></span>

                </div>
              </md-toolbar>

            <md-content layout-padding="" class="layout-padding _md" ng-show="viewRolesForm">

              <md-button ui-sref="grouproledetail({key_id:group.key_id, roleKeyId:'create'})" >
                Add a Role
              </md-button>

              <md-list class="md-dense" flex>
                <md-list-item class="md-3-line" ui-sref="grouproledetail({key_id:role.groupKeyId, roleKeyId:role.key_id})"  ng-repeat="role in groupRoles | orderBy:'order'">

                  <div class="md-list-item-text" layout="column">
                    <h3>{{ role.title }}</h3>
                    <h4>

                      <span ng-show="role.update_events"><i class="material-icons">event</i></span>
                      <span md-primary ng-show="role.update_games"><i class="material-icons">games</i></span>
                      <span ng-show="role.update_group_roles"><i class="material-icons">camera_roll</i></span>
                      <span ng-show="role.update_group_settings"><i class="material-icons">settings</i></span>
                      <span ng-show="role.update_player_roles"><i class="material-icons">face</i></span>

                      <span ng-show="role.create_matches"><i class="material-icons">add_box</i></span>
                      <span ng-show="role.create_tournaments"><i class="material-icons">add_circle</i></span>
                      <span ng-show="role.sponsor_tournaments"><i class="material-icons">stars</i></span>
                      <span ng-show="role.chat_membership"><i class="material-icons">call</i></span>

                      <span ng-show="role.join_group_servers"><i class="material-icons">line_weight</i></span>
                      <span ng-show="role.join_group_server_instances"><i class="material-icons">line_style</i></span>
                      <span ng-show="role.join_group_tournaments"><i class="material-icons">call_split</i></span>

                      <span ng-show="role.drop_items_in_group_servers"><i class="material-icons">arrow_drop_down</i></span>
                      <span ng-show="role.pickup_items_in_group_servers"><i class="material-icons">arrow_drop_up</i></span>


                    </h4>
                    <p>{{ role.description }}</p>
                  </div>



                  </div>
                </md-list-item>
                <md-divider ></md-divider>
              </md-list>

            </md-content>

            <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" ng-show="viewTransactions">
                  <div class="md-toolbar-tools">
                    <h3 class="ng-binding">{{ group.title }} : transactions</h3>
                    <span flex></span>

                  </div>
                </md-toolbar>
                  <md-content layout-padding="" class="layout-padding _md" ng-if="viewTransactions">

                    <div ng-show="!transactions.length">
                      <div ng-show="!game.server_instance_continuous">
                        No transactions to show.
                      </div>
                    </div>

                    <md-list>
                     <md-list-item ng-repeat="transaction in transactions" class="noright">
                       <md-icon class="material-icons {{ transaction.materialDisplayClass }}">{{ transaction.materialIcon }}</md-icon>
                       <p><b><span am-time-ago="transaction.created | amUtc "></span></b> : {{ transaction.description }}</p>
                       <md-button class="md-secondary" ng-click="doSecondaryAction($event)">{{ transaction.amountInt | number }}</md-button>
                       <md-button class="md-primary" ng-click="doSecondaryAction($event)">{{ transaction.newBalanceInt | number }}</md-button>
                     </md-list-item>
                    </md-list>

                  </md-content>

<!--
          <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" ng-show="userIsMember">
                <div class="md-toolbar-tools">
                  <h3 class="ng-binding">{{ group.title }} : member tools</h3>
                  <span flex></span>
                    <md-button class="md-icon-button" ng-click="toggleViewMemberForm()">
                      <i class="material-icons">edit</i>
                    </md-button>
                </div>
              </md-toolbar>
-->

      <md-content layout-padding="" class="layout-padding _md">
        <div  layout="column" layout-gt-sm="row" flex>
          <div flex="60">
            <img src="{{ group.bannerServingUrl }}" alt="banner" style="width: 100%" ng-cloak>
          </div>
          <div class="layout-padding" flex="30">
            <h3>[{{ group.tag }}]</h3>
            <p>{{ group.description }}</p>

            <div ng-if="!userIsMember">
              <h3 ng-show="group.recruiting">[{{ group.tag }}] IS RECRUITING

                <md-button ng-show="user" class="md-secondary" ng-click="joingroup($event)">
                  apply to join
                </md-button>

                <md-button ng-show="!user" class="md-secondary" ng-disabled="true">
                  Login to apply
                </md-button>

              </h3>
              <p ng-show="group.recruiting">{{ group.recruiting_poilicy }}</p>

            </div>

          </div>

        </div>

      </md-content>

        <div class="gameDetailLists"  layout="column" layout-gt-sm="row"  flex>

          <div flex="20">

            <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
                  <div class="md-toolbar-tools">
                    <h3 class="ng-binding">Member Roster</h3>
                  </div>
                </md-toolbar>
            <md-content layout-padding="" class="layout-padding _md">
              <md-list class="md-dense" flex>
                <md-list-item class="md-2-line" ui-sref="userprofile({key_id:user.userKeyId})"  ng-repeat="user in users">


                  <img ng-show="!user.picture" ng-src="/img/user_photo_placeholder.jpg" class="md-avatar" alt="{{user.userTitle}}" />
                  <img ng-show="user.picture" ng-src="{{user.picture}}" class="md-avatar" alt="{{user.userTitle}}" />
                  <div class="md-list-item-text" layout="column">
                    <h3>{{ user.userTitle }}</h3>
                    <h4>{{ user.role_title }}</h4>


                  </div>
                  <span flex></span>
                  <md-button class="md-icon-button" ui-sref="groupuserdetail({key_id:group.key_id, userKeyId:user.key_id})" ng-show="userCanEditMemberRoles">
                    <i class="material-icons">account_circle</i>
                  </md-button>
                </md-list-item>

              </md-list>
            </md-content>

          </div>
          <div flex="20">

            <md-toolbar class="md-primary _md _md-toolbar-transitions" >
              <div class="md-toolbar-tools">
                    <h3 class="ng-binding">Tournaments</h3>
                </div>
                </md-toolbar>
            <md-content layout-padding="" class="layout-padding _md">
              <div>

                  <div ng-show="!tournaments.length">No tournaments to show.

                  </div>

                  <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="tournament in tournaments" ui-sref="tournamentdetail({gameKeyId:tournament.gameKeyId, key_id:tournament.key_id})">
                      <div class="md-list-item-text" layout="column">
                        <h3>{{tournament.title}}</h3>

                        <span ng-if="tournament.region" aria-hidden="true">{{ tournament.region }}</span>
                      </div>
                    </md-list-item>
                  </md-list>

                  </div>
            </md-content>

        </div>
        <div flex="20">


          <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
                <div class="md-toolbar-tools">
                  <h3 class="ng-binding">Games</h3>
                  <span flex></span>
                  <md-button class="md-icon-button" ui-sref="groupgamecreate({key_id:group.key_id, gameKeyId:'create'})" ng-show="userCanEditGames">
                    <i class="material-icons">add_circle</i>
                  </md-button>
                </div>
              </md-toolbar>
              <md-content layout-padding="" class="layout-padding _md">
                <md-list class="md-dense" flex>
                  <md-list-item class="md-1-line" ng-repeat="game in group.games" ui-sref="gamedetail({key_id:game.gameKeyId})">

                    <div class="md-list-item-text" layout="row">
                      <p>{{ game.gameTitle }}</p>
                    </div>

                    <span flex></span>
                    <md-button class="md-icon-button" ui-sref="groupgamedetail({key_id:group.key_id, groupGameKeyId:game.key_id})" ng-show="userCanEditGames">
                      <i class="material-icons">edit</i>
                    </md-button>



                  </md-list-item>
                </md-list>

              </md-content>

      </div>

      <div flex="40">
        <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" ng-cloak>
              <div class="md-toolbar-tools">
                <h3 class="ng-binding">News Feed</h3>
              </div>
            </md-toolbar>

          <md-list class="md-dense" flex>
            <md-list-item class="md-2-line" ng-repeat="event in eventfeed" >
              <i class="material-icons md-avatar-icon md-accent">{{ event.icon }}</i>
              <div class="md-list-item-text" layout="column">
                <b><span am-time-ago="event.created | amUtc "></span></b>
                <h3>{{ event.text }}</h3>
              </div>
            </md-list-item>

          </md-list>

      </div>

    </div>
