.md-hue-1 {
  background-color: black;
  color: #DDD;
}

.layout-column {
  background-color: #333;
  color: #DDD !important;
}

.layout-padding {
  background-color: #333;
  color: #DDD;
}

.md-primary {
  background-color: #222 !important;
  color: #DDD !important;
}

.md-dense {
  color: #DDD;
}

h3 {
  color: #DDD !important;
}

h4 {
  color: #DDD !important;
}

p {
  color: #DDD !important;
}

.friendsListRight {
  background-color: #333 !important;
}
