.navbar-static-top {
  margin-bottom: 19px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif ;
  background-color: #fff;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fff;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}


.chat {
	height: 100%;
}

.chatContent {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    background: white;
	font-family: 'Cutive Mono' ;
}
md-grid-list {
  margin: 8px;
}

md-grid-list.blogHero {
  margin: 0px;
}
md-grid-tile.blogHero {
	overflow: hidden;
}

md-grid-tile.blogHero::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  margin-top: -200px;
  height: 200px;
  width: 100%;
  content: '';
}

md-grid-tile-footer.blogHero {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 98px;
    color: #fff;
    background: rgba(0,0,0,0);
    overflow: hidden;
    z-index:50;
    align-items: flex-end;
    margin: 0px 0px 15px 0px;
}

h3.blogHero {
  font-weight: bold;
  font-size: 21px;
  margin: 0px 15px 0px 15px;
}

p.blogHeroAuthor
{
  font-size: 12px;
  margin: 5px 0px 0px 15px;
}

md-grid-list.blogFeature {
  margin: 0px;
}
md-grid-tile.blogFeature {
	overflow: hidden;
}

md-grid-tile.blogFeature::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
  margin-top: -200px;
  height: 200px;
  width: 100%;
  content: '';
}

md-grid-tile-footer.blogFeature {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    height: 98px;
    color: #fff;
    background: rgba(0,0,0,0);
    overflow: hidden;
    z-index:50;
    align-items: flex-end;
    margin: 0px 0px 15px 0px;
}

h3.blogFeature {
  font-weight: bold;
  font-size: 21px;
  margin: 0px 15px 0px 15px;
}

p.blogFeatureAuthor
{
  font-size: 12px;
  margin: 5px 0px 0px 15px;
}

.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-24 { font-size: 24px; }

.blogHeroAuthor a:link    {color:#fff;}
.blogHeroAuthor a:visited {color:#fff;}
.blogHeroAuthor a:hover   {color:#fff;}
.blogHeroAuthor a:active  {color:#fff;}

.blogLatestNewsHeader {
  margin: 20px 0px 0px 0px;
  font-size: 22px;
}

.blogPostImageContainer {
  width: 433px;
  height: 300px;
  overflow: hidden;
}

.blogPostTextContainer {
  margin: 30px;
}

h3.blogPost {
  font-weight: bold;
  font-size: 21px;
  margin: 0px 15px 0px 0px;
}

p.blogPostAuthor
{
  font-size: 12px;
  margin: 5px 0px 0px 0px;
  color:#888;
}

p.blogPostSummary
{
  margin: 10px 0px 0px 0px;
  color:#888;
}

.blogPostAuthor a:link    {color:#888;}
.blogPostAuthor a:visited {color:#888;}
.blogPostAuthor a:hover   {color:#888;}
.blogPostAuthor a:active  {color:#888;}

.blogPostImageContainerRecent {
  width: 100px;
  height: 73px;
  overflow: hidden;
}

.blogPostTextContainerRecent {
  margin: 2px 2px 2px 8px;
}

.blogPostRecents {
  margin: 15px;
}

.blogPostAuthorFooter
{
  margin: 40px;
}

.green {
  background: #b9f6ca; }
.yellow {
  background: #ffff8d; }
.blue {
  background: #84ffff; }
.darkBlue {
  background: #80d8ff; }
.deepBlue {
  background: #448aff; }
.purple {
  background: #b388ff; }
.lightPurple {
  background: #8c9eff; }
.red {
  background: #ff8a80; }
.pink {
  background: #ff80ab; }
.gray {
  background: #888;
}

md-grid-tile {
  -webkit-transition: all 500ms ease-out 100ms;
    -moz-transition: all 500ms ease-out 100ms;
    -o-transition: all 500ms ease-out 100ms;
    transition: all 500ms ease-out 100ms;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}


.tournamentHeader {
  text-align: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tournament-team {
  margin: 15px;
}

.tournament-round-text {
  padding: 10px;
}

.tournament-tier {
  margin: 15px;
  background-color: #CCC;
  max-width: 200px;
  min-width:180px;
}

.tournament-match-list {
  margin: 5px 0px 0px 0px;
}

.tournament-match {
  padding: 5px;
  background-color: #DDD;
  margin: 0px 0px 5px 0px;
}
.tournament-match-team {
  padding: 5px;
}
.tournament-match-winner {
  background-color: #EEE;
  font-weight: bold;
}

.tournament-match-loser{
  background-color: #CCC;
}

.friendsListRight {
  min-width: 350px;
}

.bodyContent {
  width: 100%;
}

.logo {
  margin: 3px 30px 5px 10px !important;
  font-size: 27px;
  text-decoration: none !important;
  color:#777;
}

.headerLogo a:link    {color:#777;}
.headerLogo a:visited {color:#777;}
.headerLogo a:hover   {color:#777;}
.headerLogo a:active  {color:#777;}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

.gameModeWin {
  color: green;
}

.gameModeAdmission {
  color: red;
}

.gameDetailLists {
  width: 100%;
}

i.iconServerUp {

      background-color: #FD4582 !important;

}

.server-active-player-count {
  font-size: 60px;
  font-weight: bold;
  color: #9B9B9B;

  padding-right: 15px;
}

.api-url {
  background-color: #CCC;
  font-size: 18px;
  padding: 5px;
  margin: 2px;
}

.api-description {
  padding: 5px;
}

.profile-required {
  font-size: 33px;
  text-align: right;
  padding-right: 30px;
}

.developer-enabled {
  background-color: #CCC;
  font-size: 33px;
}

.transformable {
    -webkit-transition: height 100ms linear;
    -moz-transition: height 100ms linear;
    -o-transition: height 100ms linear;
    -ms-transition: height 100ms linear;
    transition: height 100ms linear;

}

.smallheader {
    height:80px;
}

.bigheader {
    height:304px;
}

.hero-container {
  background-color:#FFF;
  color: #CCC;
  padding: 25px;
}

.hero-top-margin {
  margin:50px 0px 50px 0px;
}

.hero-container-light {
  background-color:#FFF;
  color: #CCC;
  padding: 25px;
}


.header-hero {
  font-size: 78px;
  font-weight: bold;
  line-height: 92px;
  margin:50px
}

.header-sub-hero {
  font-size: 45px;
  line-height: 65px;
}

.feature-content {
  margin:50px
}

.buycred-selected {
  background-color: #DFD;
  padding: 10px;
  margin: 8px;
}

.buycred-unselected {
  background-color: #FDD;
  padding: 10px;
  margin: 8px;
}

.buyCredOptions {
  margin:3px;
}

.buycred1 {
  background-image: url("/img/buy_cred_5.png");
  width: 229px;
  height: 228px;
  position: relative;
  margin: 3px;
}

.buycred2 {
  background-image: url("/img/buy_cred_10.png");
  width: 229px;
  height: 228px;
  position: relative;
  margin: 3px;
}

.buycred3 {
  background-image: url("/img/buy_cred_20.png");
  width: 229px;
  height: 228px;
  position: relative;
  margin: 3px;
}

.buycred4 {
  background-image: url("/img/buy_cred_40.png");
  width: 229px;
  height: 228px;
  position: relative;
  margin: 3px;
}

.credamount {
  font-size: 25px;
  font-weight: bold;
}

.buycred-text-parent {
  margin:25px;
  padding: 25px;

}

.braintree-dropin-container-parent {
  padding: 15px;
  border-style: solid;
  border-width: 3px;
  border-color: #ddd;
  background-color: #fff;
}

.payment-container {
  padding: 7px;
  background-color: #fff;
}

.payment-method-options {
  padding: 7px;
}

.choose-a-way-to-pay-container {
  padding: 15px;
}

.transaction-summary {
  background-color: #ddd;
}

.transaction-summary-buying {
  padding: 7px 7px 7px 14px;
  background-color: #ddd;
  font-size: 25px;
  font-weight: bold;

}

.transaction-summary-paying {
  text-align: right;
  padding: 7px 14px 7px 7px;
  background-color: #ddd;
  font-size: 25px;
  font-weight: bold;
}

.login-links {
  margin: 0px 10px 0px 27px;
  width: 200px;
}

.developerServerInstanceCreateDialog {
  background-color: #DDD;
}

.index-feature {
  background-color: #DDD;
  margin: 5px 0px 5px 0px;
}

md-content.md-default-theme, md-content {
  background-color: #fff;
}


.offer-option {
  float: left;
  width: 20%;
  box-sizing: border-box;
  padding: 0 8px; }

.offer-option .md-item-text {
  padding: 8px;
  background: #f0f0f0;
  border-radius: 3px; }

.offer-option .md-item-text h3,
.offer-option .md-item-text p {
  padding: 0;
  margin: 0; }


.costs-header {
  margin: 40px 0px 60px 0px;
}
