<p>unlockd provides multiplayer backend services for multiplayer and competitive video games.</p>

<p>Things like, matchmaker, server management, player rankings, etc.  </p>

<p>The code is now 100% open source which promotes decentralization and levels the playing field against the massively centralized dominant players in the space.</p>

<p>This faq is under development.  Why not stop by our <a href="https://discord.gg/QXQkq4dhdx">Discord channel</a> and ask some great questions that we can include?</p>
