<!doctype html>
<html ng-app="uetopiaFrontEnd">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="Multiplayer services for UE4 based games">
    <meta name="keywords" content="UE4, Multiplayer, Matchmaker, Tournaments, ">

	<title data-ng-bind="title">UETOPIA</title>

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="/app/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.5.2/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>

<script src="https://js.braintreegateway.com/web/dropin/1.8.0/js/dropin.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.31.0/js/client.min.js"></script>


<script>
  // Initialize Firebase
  var config = {
    apiKey: "x",
    authDomain: "ue4topia.firebaseapp.com",
    databaseURL: "https://ue4topia.firebaseio.com",
    storageBucket: "ue4topia.appspot.com",
    messagingSenderId: "x"
  };
  firebase.initializeApp(config);
</script>

<!-- Angular Material style sheet -->
 <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.css">

 <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

 <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css">


  </head>
  <body ng-cloak layout="column">

    <div > <!-- logged IN -->
    <div class="md-hue-1" layout="row" layout-xs="column" layout-sm="column">


      <div class="logo"><a class="headerLogo" href="#/">UETOPIA</a></div>

<md-menu-bar >
        <md-menu ng-show="userAccount.admin">
          <button ng-click="$mdMenu.open()">Admin</button>
          <md-menu-content>

            <md-menu-item>
              <md-button href="#/admin/users/">
                Users
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button href="#/admin/games/">
                Games
              </md-button>
            </md-menu-item>

            <md-menu-item>
              <md-button ui-sref="blogpostcreate">
                Create Blog Post
              </md-button>
            </md-menu-item>




          </md-menu-content>
        </md-menu>

        <md-menu ng-show="userAccount.developer">
          <button ng-click="$mdMenu.open()">Developer</button>
          <md-menu-content>

            <md-menu-item class="md-indent">
               <md-icon>games</md-icon>
              <md-button href="#/developer/">
                My Games
              </md-button>
            </md-menu-item>

            <md-menu-item  class="md-indent">
               <md-icon>notes</md-icon>
              <md-button ui-sref="developerdocumentation">
                Documentation
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>

        <md-menu >
          <button ng-click="$mdMenu.open()">Social</button>
          <md-menu-content>

            <md-menu-item class="md-indent">
               <md-icon>group</md-icon>
              <md-button href="#/groups/">
                Groups
              </md-button>
            </md-menu-item>

            <md-menu-item class="md-indent" ng-show="userAccount">
               <md-icon>done</md-icon>
              <md-button ng-click="toggleFriends()">
                <span ng-show="show_friends">Hide Friends</span>
                <span ng-show="!show_friends">Show Friends</span>
              </md-button>
            </md-menu-item>

            <md-menu-item class="md-indent" ng-show="userAccount">
               <md-icon>search</md-icon>
              <md-button href="#/user/search">
                Search for a friend
              </md-button>
            </md-menu-item>



          </md-menu-content>
        </md-menu>

        <md-menu>
          <button ng-click="$mdMenu.open()">Info</button>
          <md-menu-content>

            <md-menu-item class="md-indent">
               <md-icon>credit_card</md-icon>
              <md-button href="#/costs">
                Service Costs
              </md-button>
            </md-menu-item>

            <md-menu-item class="md-indent">
               <md-icon>question_answer</md-icon>
              <md-button href="#/faq">
                Frequently Asked Questions
              </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item class="md-indent">
               <md-icon>video_library</md-icon>
              <md-button href="https://www.youtube.com/channel/UC5hw-dZMZWoA7Q7ZGuOJHlA">
                Youtube Channel
              </md-button>
            </md-menu-item>

            <md-menu-item class="md-indent">
               <md-icon>add_comment</md-icon>
              <md-button href="https://twitter.com/ue4topia">
                Twitter
              </md-button>
            </md-menu-item>

            <md-menu-item class="md-indent">
               <md-icon>rss_feed</md-icon>
              <md-button href="#/blog/">
                Dev Blog
              </md-button>
            </md-menu-item>

            <md-menu-item class="md-indent">
               <md-icon>games</md-icon>
              <md-button href="https://uetopia.itch.io/uetopia">
                Itch.io
              </md-button>
            </md-menu-item>

            <md-menu-divider></md-menu-divider>

            <md-menu-item class="md-indent">
               <md-icon>email</md-icon>
              <md-button href="mailto:ed@uetopia.com">
                Email
              </md-button>
            </md-menu-item>

          </md-menu-content>
        </md-menu>


        <md-menu ng-show="userAccount">
            <button ng-click="$mdMenu.open()">
              <span ng-show="userAccount.groupTag">{{ userAccount.groupTag }}</span> {{ userAccount.title }}
            </button>
            <md-menu-content>

              <md-menu-item class="md-indent">
                 <md-icon>fingerprint</md-icon>
                <md-button href="#/profile">
                  Profile
                </md-button>
              </md-menu-item>


              <md-menu-item ng-show="userAccount.currencyBalance" class="md-indent">
                 <md-icon>receipt</md-icon>
                <md-button href="#/user/transactions">
                  Transactions
                </md-button>
              </md-menu-item>


              <md-menu-item class="md-indent">
                 <md-icon>turned_in</md-icon>
                <md-button ui-sref="userbadges">
                  Badges
                </md-button>
              </md-menu-item>

              <md-menu-item class="md-indent">
                 <md-icon>turned_in_not</md-icon>
                <md-button ui-sref="voucherredeem">
                  Redeem Voucher
                </md-button>
              </md-menu-item>


              <md-menu-divider></md-menu-divider>


              <md-menu-item class="md-indent">
                 <md-icon>eject</md-icon>
                <md-button ng-click="logout()">
                  Logout

                </md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>

          <md-menu ng-show="!user">
            <button ng-click="toggleViewLoginButtons()">Sign In</button>
            <md-menu-content>

              <md-menu-item class="md-indent">
                 <md-icon>question_answer</md-icon>
                <md-button ng-click="loggedOutHeaderSmall = !loggedOutHeaderSmall">
                  Sign in
                </md-button>
              </md-menu-item>

              <md-menu-item class="md-indent">
                 <md-icon>email</md-icon>
                <md-button href="mailto:ed@uetopia.com">
                  Email
                </md-button>
              </md-menu-item>

            </md-menu-content>
          </md-menu>
</md-menu-bar>

<div FLEX></div>

  </div>

  <section layout="row" layout-sm="column" layout-align="center center" layout-wrap ng-show="!user"> <!-- logged out -->
      <div id="logged-out" ng-show="viewLoginButtons">
        <div id="firebaseui-auth-container">
        </div>
        <div class="login-links">By creating an account you agree to the
          <a href="/app/partials/terms.html">Terms of Service</a> and
          <a href="/app/partials/privacy.html">Privacy Policy</a>
        </div>
        <div class="login-links">This site uses cookies, and third-party cookies to manage your login.  They must be enabled for login to function.
        </div>
    </div>
  </section>

    <!-- Begin page content -->
    <div > <!-- was bootstrap container -->






      <!-- SITE CONSTRUCTION WARNING



      <md-toolbar class="md-accent">
        <h2 class="md-toolbar-tools">
          Upgrade in progress
        </h2>
      </md-toolbar>
      <md-content>
        <md-list>
            <md-list-item>
              <md-icon class="material-icons warn">build</md-icon>
              <p> New server managment features incoming.  Some features may appear broken for a short time.  Stand by! </p>
            </md-list-item>
          </md-list>
        </md-content>

-->


        <md-toolbar class="md-accent" ng-show="alerts.length > 0">
          <h2 class="md-toolbar-tools">
            Heads up
          </h2>
        </md-toolbar>
        <md-content>
          <md-list flex>
              <md-list-item ng-repeat="alert in alerts" style="margin-left:20px;">
                <md-icon class="material-icons {{ alert.importance }}">{{ alert.material_icon }}</md-icon>
                <p> {{ alert.message_text }} </p>
                <md-button class="md-primary" ng-show="alert.action_button_sref" href="{{ alert.action_button_sref }}">
                  <md-icon class="material-icons">zoom_in</md-icon>
                </md-button>
                <md-button class="md-secondary" ng-click="removeAlert(alert)">
                  <md-icon class="material-icons">remove_circle</md-icon>
                </md-button>
              </md-list-item>
            </md-list>
          </md-content>


            <section layout="row" class="demo-container md-whiteframe-z1" flex>



          <div ui-view class="bodyContent"></div>

          <div flex></div>


          <md-content ng-show="user&&show_friends" class="friendsListRight">
            <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
                  <div class="md-toolbar-tools">
                    <h3 class="ng-binding">Friends</h3>
                    <span flex></span>
                      <md-button class="md-icon-button" ui-sref="usersearch">
                        <i class="material-icons">search</i>
                      </md-button>
                  </div>
                </md-toolbar>

                <div ng-show="!friends.length">No friends to show.</div>
                <md-list>

                  <md-list-item ng-repeat="friend in friends" ui-sref="userprofile({key_id:friend.userTargetKeyId})"  class="md-3-line">
                    <img ng-if="friend.userTargetPicture" alt="{{ friend.userTargetTitle }}" ui-sref="userprofile({key_id:friend.userTargetKeyId})"  ng-src="{{ friend.userTargetPicture }}" class="md-avatar" />
                    <img ng-if="!friend.userTargetPicture" alt="{{ friend.userTargetTitle }}" ui-sref="userprofile({key_id:friend.userTargetKeyId})"  ng-src="/img/user_photo_placeholder.jpg" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                      <h3>{{ friend.userTargetTitle }}</h3>
                      <h4 ng-show="friend.playingLink">{{ friend.playingGame }}</h4>
                      <p ng-show="friend.playingLink">{{ friend.playingOnServer }}</p>
                    </div>
                    <md-icon class="material-icons" ng-show="friend.online">wifi</md-icon>
                    <md-button class="md-secondary" ng-show="friend.streaming" href="{{ friend.streamLink }}" target="_blank"> <md-icon class="material-icons" ng-show="friend.streaming">live_tv</md-icon></md-button>
                    <md-button class="md-secondary" ng-show="friend.playingLink" href="{{ friend.playingLink }}" > <md-icon class="material-icons" >open_in_new</md-icon> </md-button>

                  </md-list-item>

                </md-list>
          </md-content>



        </section>
      </div>

    </div>

    <!-- Angular Material requires Angular.js Libraries -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>

<!-- Angular moment -->
<script src="/app/js/vendor/moment.js"></script>
<script src="/app/js/vendor/angular-moment.min.js"></script>

    <script src="/app/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


    <script src="/app/js/app.js"></script>
    <script src="/app/js/controller.js"></script>
    <script src="/app/js/router.js"></script>
    <script src="/app/js/controller.home.js"></script>
    <script src="/app/js/controller.faq.js"></script>
    <script src="/app/js/controller.api.js"></script>
    <script src="/app/js/controller.costs.js"></script>

    <script src="/app/js/controller.profile.js"></script>
    <script src="/app/js/controller.agreement.js"></script>
    <script src="/app/js/controller.token.expose.js"></script>

    <script src="/app/js/admin/controller.js"></script>
    <script src="/app/js/admin/controller.users.js"></script>
    <script src="/app/js/admin/controller.user.detail.js"></script>

    <script src="/app/js/admin/controller.games.js"></script>
    <script src="/app/js/admin/controller.game.detail.js"></script>
    <script src="/app/js/admin/controller.server.detail.js"></script>

    <script src="/app/js/developer/controller.js"></script>
    <script src="/app/js/developer/controller.documentation.js"></script>
    <script src="/app/js/developer/controller.game.create.js"></script>
    <script src="/app/js/developer/controller.game.js"></script>

    <script src="/app/js/developer/controller.game.mode.create.js"></script>
    <script src="/app/js/developer/controller.game.mode.js"></script>
    <script src="/app/js/developer/controller.game.mode.ad.js"></script>

    <script src="/app/js/developer/controller.game.level.create.js"></script>
    <script src="/app/js/developer/controller.game.level.js"></script>

    <script src="/app/js/developer/controller.game.level.link.create.js"></script>
    <script src="/app/js/developer/controller.game.level.link.js"></script>

    <script src="/app/js/developer/controller.game.data.create.js"></script>
    <script src="/app/js/developer/controller.game.data.js"></script>

    <script src="/app/js/developer/controller.game.patch.deploy.js"></script>

    <script src="/app/js/developer/controller.game.players.js"></script>
    <script src="/app/js/developer/controller.game.player.detail.js"></script>
    <script src="/app/js/developer/controller.game.character.detail.js"></script>
    <script src="/app/js/developer/controller.game.player.snapshot.detail.js"></script>

    <script src="/app/js/developer/controller.game.offers.js"></script>
    <script src="/app/js/developer/controller.game.offer.create.js"></script>
    <script src="/app/js/developer/controller.game.offer.js"></script>

    <script src="/app/js/developer/controller.game.consignments.js"></script>
    <script src="/app/js/developer/controller.game.consignment.create.js"></script>
    <script src="/app/js/developer/controller.game.consignment.js"></script>

    <script src="/app/js/developer/controller.game.voucher.create.js"></script>
    <script src="/app/js/developer/controller.game.voucher.js"></script>

    <script src="/app/js/developer/controller.servercluster.create.js"></script>
    <script src="/app/js/developer/controller.servercluster.js"></script>

    <script src="/app/js/developer/controller.server.create.js"></script>
    <script src="/app/js/developer/controller.server.js"></script>

    <script src="/app/js/developer/controller.serverlink.create.js"></script>
    <script src="/app/js/developer/controller.serverlink.js"></script>

    <script src="/app/js/developer/controller.vendor.type.create.js"></script>
    <script src="/app/js/developer/controller.vendor.type.js"></script>

    <script src="/app/js/games/controller.game.js"></script>
    <script src="/app/js/games/players/controller.player.js"></script>

    <script src="/app/js/games/controller.metagame.connect.js"></script>

    <script src="/app/js/games/tournaments/controller.tournament.create.js"></script>
    <script src="/app/js/games/tournaments/controller.tournament.js"></script>

    <script src="/app/js/serverclusters/controller.servercluster.js"></script>

    <script src="/app/js/servers/controller.server.js"></script>
    <script src="/app/js/servers/players/controller.player.js"></script>

    <script src="/app/js/users/controller.transactions.js"></script>
    <script src="/app/js/users/controller.search.js"></script>
    <script src="/app/js/users/controller.profile.js"></script>
    <script src="/app/js/users/controller.referral.js"></script>
    <script src="/app/js/users/controller.cred.buy.js"></script>
    <script src="/app/js/users/controller.badges.js"></script>
    <script src="/app/js/users/controller.badge.detail.js"></script>

    <script src="/app/js/users/controller.voucher.redeem.js"></script>
    <script src="/app/js/users/controller.offer.claim.js"></script>

    <script src="/app/js/groups/controller.groups.js"></script>
    <script src="/app/js/groups/controller.group.create.js"></script>
    <script src="/app/js/groups/controller.group.js"></script>
    <script src="/app/js/groups/controller.group.role.detail.js"></script>
    <script src="/app/js/groups/controller.group.user.detail.js"></script>
    <script src="/app/js/groups/controller.group.game.create.js"></script>
    <script src="/app/js/groups/controller.group.game.detail.js"></script>
    <script src="/app/js/groups/controller.group.ad.create.js"></script>
    <script src="/app/js/groups/controller.group.ad.detail.js"></script>

    <script src="/app/js/blog/controller.blog.post.collection.js"></script>
    <script src="/app/js/blog/controller.blog.post.create.js"></script>
    <script src="/app/js/blog/controller.blog.post.js"></script>

    <script src="/app/js/service.endpoints.js"></script>

    <script type="text/javascript" src="/_ah/channel/jsapi"></script>

  </body>
</html>
