<p>unlockd.gg is an open source project.  This website is a live demo, and contains functionality that can be used by game developers, and players.</p>

<h1>You are a game developer</h1>

<p>As a game developer, you can deploy your own version of this website (backend) and configure it however you like.  You make your own decisions about fee structure and costs of operation.</p>

<p>This website uses a 5% fee on game income to help cover our backend expenses.  (if you don't agree with this, you can run your own)</p>

<h1>You are a player</h1>

<p>Deposits and withdrawals, (will be) done over lightning, and there are no additional fees associates with this. You can deposit via lightning, play a few matches, then withdraw.  </p>