<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">ADMIN: Games</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

        <div ng-show="!games.length">No games to show.</div>

        <div layout="row" layout-wrap>
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="game in games">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{game.title}}</span>
              <span class="md-subhead">{{game.description}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="gamedetail({key_id: game.key_id})">View</md-button>
            <md-button ui-sref="admingamedetail({key_id: game.key_id})">ADMIN Edit</md-button>

          </md-card-actions>
        </md-card>
        </div>
      </md-content>
