<md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">{{ game.title }} : credentials</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md" >
          <div>GAME API Key: {{ game.apiKey }}</div>
          <div>GAME API Secret: {{ game.apiSecret }}</div>
          <div ui-sref="adminuserdetail({key_id: game.userKeyId})">User: {{ game.userKeyId }}</div>
        </md-content>

        <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions">
              <div class="md-toolbar-tools">
                <h3 class="ng-binding">{{ game.title }} : details</h3>
              </div>
            </md-toolbar>
              <md-content layout-padding="" class="layout-padding _md">
                <form name="form" novalidate>
                <md-input-container class="md-block md-input-has-value">
                  <label for="input_title">Title</label>
                  <input ng-model="game.title" class="ng-pristine ng-untouched ng-valid md-input ng-valid-email" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>Order</label>
                  <input required type="number" step="any" name="max_count" min="0"
                       max="1000000" ng-model="game.order"  />

                  <div ng-messages="projectForm.order.$error" multiple md-auto-hide="true">
                    <div ng-message="required">
                      A number is required here.
                    </div>
                    <div ng-message="min">
                      Minimum 0
                    </div>
                    <div ng-message="max">
                      Maximum 1000000
                    </div>
                  </div>
                </md-input-container>

                <md-input-container class="md-block">
                  <label>partySizeMaximum</label>
                  <input required type="number" step="any" name="max_count" min="0"
                       max="50" ng-model="game.partySizeMaximum"  />

                  <div ng-messages="projectForm.partySizeMaximum.$error" multiple md-auto-hide="true">
                    <div ng-message="required">
                      A number is required here.
                    </div>
                    <div ng-message="min">
                      Minimum 0
                    </div>
                    <div ng-message="max">
                      Maximum 50
                    </div>
                  </div>
                </md-input-container>




                <md-input-container class="md-block">
                  <label>Description</label>
                  <textarea ng-model="game.description" md-maxlength="550" rows="5" md-select-on-focus></textarea>
                </md-input-container>
                <md-input-container class="md-block">
                  <label>How to play</label>
                  <textarea ng-model="game.instructions" md-maxlength="550" rows="5" md-select-on-focus></textarea>
                </md-input-container>

                <md-select ng-model="game.genre" placeholder="Genre" class="md-no-underline">
                  <md-option value="Action">Action</md-option>
                  <md-option value="Action-Adventure">Action-Adventure</md-option>
                  <md-option value="Adventure">Adventure</md-option>
                  <md-option value="Role-Playing">Role-Playing</md-option>
                  <md-option value="Simulation">Simulation</md-option>
                  <md-option value="Strategy">Strategy</md-option>
                  <md-option value="Sports">Sports</md-option>
                  <md-option value="Adult">Adult</md-option>
                </md-select>

                <md-input-container class="md-block md-input-has-value">
                  <label for="website_url">Website URL</label>
                  <input ng-model="game.website_url" class="ng-pristine ng-untouched ng-valid md-input" id="website_url" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block md-input-has-value">
                  <label for="input_download_url">Download URL</label>
                  <input ng-model="game.download_url" class="ng-pristine ng-untouched ng-valid md-input" id="input_download_url" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block md-input-has-value">
                  <label for="input_icon_url">Icon URL</label>
                  <input ng-model="game.icon_url" class="ng-pristine ng-untouched ng-valid md-input" id="input_icon_url" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block md-input-has-value">
                  <label for="input_banner_url">Banner URL</label>
                  <input ng-model="game.banner_url" class="ng-pristine ng-untouched ng-valid md-input" id="input_banner_url" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block md-input-has-value">
                  <label for="input_banner_url">CSS URL</label>
                  <input ng-model="game.css_url" class="ng-pristine ng-untouched ng-valid md-input" id="input_css_url" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block md-input-has-value">
                  <label for="input_group_custom_texture_instructions_link">Link to instructions and examples for setting up custom in-game group textures.</label>
                  <input ng-model="game.group_custom_texture_instructions_link" class="ng-pristine ng-untouched ng-valid md-input" id="input_group_custom_texture_instructions_link" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-input-container class="md-block md-input-has-value">
                  <label for="input_group_custom_texture_default">Default texture to use if the group has not configured a custom texture</label>
                  <input ng-model="game.group_custom_texture_default" class="ng-pristine ng-untouched ng-valid md-input" id="input_group_custom_texture_default" aria-invalid="false"><div class="md-errors-spacer"></div>
                </md-input-container>

                <md-checkbox ng-model="game.usersCanCreateServers" aria-label="usersCanCreateServers">
                    Users can create servers
                  </md-checkbox>

                  <md-checkbox ng-model="game.groupsCanCreateServers" aria-label="groupsCanCreateServers">
                      Groups can create servers
                    </md-checkbox>


                    <md-input-container class="md-block md-input-has-value">
                      <label for="invisible">Invisible</label>
                      <md-checkbox ng-model="game.invisible" aria-label="invisible">
                      </md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value">
                      <label for="invisible_developer_setting">Invisible Dev</label>
                      <md-checkbox ng-model="game.invisible_developer_setting" aria-label="invisible_developer_setting">
                      </md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value">
                      <label for="supported">Supported</label>
                      <md-checkbox ng-model="game.supported" aria-label="supported">
                      </md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value">
                      <label for="approved">Approved</label>
                      <md-checkbox ng-model="game.approved" aria-label="supported">
                      </md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value">
                      <label for="openToAllDevelopers">openToAllDevelopers</label>
                      <md-checkbox ng-model="game.openToAllDevelopers" aria-label="supported">
                      </md-checkbox>
                    </md-input-container>
                    <md-input-container class="md-block md-input-has-value">
                      <label for="trustable">trustable</label>
                      <md-checkbox ng-model="game.trustable" aria-label="trustable">
                      </md-checkbox>
                    </md-input-container>






                            <md-input-container class="md-block md-input-has-value">
                              <label for="slack_webhook">Slack Webhook</label>
                              <input ng-model="game.slack_webhook" class="ng-pristine ng-untouched ng-valid md-input" id="slack_webhook" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-checkbox ng-model="game.slack_subscribe_vm_activity" aria-label="slack_subscribe_vm_activity">
                                VM Activity
                            </md-checkbox>
                            <md-checkbox ng-model="game.slack_subscribe_errors" aria-label="slack_subscribe_errors">
                                Errors
                            </md-checkbox>
                            <md-checkbox ng-model="game.slack_subscribe_transactions" aria-label="slack_subscribe_transactions">
                                Transactions
                            </md-checkbox>
                            <md-checkbox ng-model="game.slack_subscribe_config_changes" aria-label="slack_subscribe_config_changes">
                                Config Changes
                            </md-checkbox>
                            <md-checkbox ng-model="game.slack_subscribe_new_players" aria-label="slack_subscribe_new_players">
                                New Players
                            </md-checkbox>
                            <md-checkbox ng-model="game.slack_subscribe_new_tournaments" aria-label="slack_subscribe_new_tournaments">
                                New Tournaments
                            </md-checkbox>
                            <md-checkbox ng-model="game.slack_subscribe_tournament_rounds" aria-label="slack_subscribe_tournament_rounds">
                                Tournament Rounds
                            </md-checkbox>

                            <md-input-container class="md-block md-input-has-value">
                              <label for="discord_webhook">Discord Webhook</label>
                              <input ng-model="game.discord_webhook" class="ng-pristine ng-untouched ng-valid md-input" id="discord_webhook" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-checkbox ng-model="game.discord_subscribe_vm_activity" aria-label="discord_subscribe_vm_activity">
                                VM Activity
                            </md-checkbox>
                            <md-checkbox ng-model="game.discord_subscribe_errors" aria-label="discord_subscribe_errors">
                                Errors
                            </md-checkbox>
                            <md-checkbox ng-model="game.discord_subscribe_transactions" aria-label="discord_subscribe_transactions">
                                Transactions
                            </md-checkbox>
                            <md-checkbox ng-model="game.discord_subscribe_config_changes" aria-label="discord_subscribe_config_changes">
                                Config Changes
                            </md-checkbox>
                            <md-checkbox ng-model="game.discord_subscribe_new_players" aria-label="discord_subscribe_new_players">
                                New Players
                            </md-checkbox>
                            <md-checkbox ng-model="game.discord_subscribe_new_tournaments" aria-label="discord_subscribe_new_tournaments">
                                New Tournaments
                            </md-checkbox>
                            <md-checkbox ng-model="game.discord_subscribe_tournament_rounds" aria-label="discord_subscribe_tournament_rounds">
                                Tournament Rounds
                            </md-checkbox>


                    <md-input-container class="md-block md-input-has-value">
                      <label for="input_banner_url">Use the matchmaker API</label>
                      <md-checkbox ng-model="game.server_instace_match_deploy" aria-label="server_instace_match_deploy">

                        </md-checkbox>
                    </md-input-container>

                    <div ng-show="game.server_instace_match_deploy">
                      <md-toolbar class="demo-toolbar md-primary md-hue-2 _md _md-toolbar-transitions">
                            <div class="md-toolbar-tools">
                              <h3 class="ng-binding">{{ game.title }} : matchmaker :
                                <span ng-show="game.match_deploy_vm_local_testing"> TEST MODE </span>
                                <span ng-show="!game.match_deploy_vm_local_testing"> LIVE MODE </span>
                              </h3>
                            </div>
                          </md-toolbar>

                          <md-input-container class="md-block md-input-has-value">
                            <label for="input_banner_url">Enable Testing Mode</label>
                            <md-checkbox ng-model="game.match_deploy_vm_local_testing" aria-label="match_deploy_vm_local_testing">
                              <div class="hint">Force all matches to use your localhost IP/key/secret.</div>

                              </md-checkbox>
                          </md-input-container>

                          <div ng-show="game.match_deploy_vm_local_testing">

                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_local_testing_connection_string">local connection string</label>
                              <input ng-model="game.match_deploy_vm_local_testing_connection_string" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_local_testing_connection_string" aria-invalid="false"><div class="md-errors-spacer"></div>
                              <div class="hint">192.168.0.225:7777</div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_local_APIKey">API KEY</label>
                              <input ng-model="game.match_deploy_vm_local_APIKey" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_local_APIKey" aria-invalid="false"><div class="md-errors-spacer"></div>
                              <div class="hint">use any random string</div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_local_APISecret">API Secret</label>
                              <input ng-model="game.match_deploy_vm_local_APISecret" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_local_APISecret" aria-invalid="false"><div class="md-errors-spacer"></div>
                              <div class="hint">use any random string</div>
                            </md-input-container>

                          </div>

                          <div ng-show="!game.match_deploy_vm_local_testing">

                            <h4> Matchmaker : live mode </h4>

                            <md-input-container class="md-block md-input-has-value">
                              <label for="input_banner_url">Automatically deploy VM instances for matches</label>
                              <md-checkbox ng-model="game.match_deploy_vm" aria-label="match_deploy_vm">

                                </md-checkbox>
                            </md-input-container>

                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_project">Project.  Use ue4topia to use ours.</label>
                              <input ng-model="game.match_deploy_vm_project" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_project" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_bucket">Bucket.  Use ue4topia.appspot.com to use ours.</label>
                              <input ng-model="game.match_deploy_vm_bucket" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_bucket" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_source_disk_image">Disk Image</label>
                              <input ng-model="game.match_deploy_vm_source_disk_image" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_source_disk_image" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_machine_type">Machine Type</label>
                              <input ng-model="game.match_deploy_vm_machine_type" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_machine_type" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_startup_script_location">Startup Script Location</label>
                              <input ng-model="game.match_deploy_vm_startup_script_location" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_startup_script_location" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>
                            <md-input-container class="md-block md-input-has-value">
                              <label for="match_deploy_vm_shutdown_script_location">Shutdown Script Location</label>
                              <input ng-model="game.match_deploy_vm_shutdown_script_location" class="ng-pristine ng-untouched ng-valid md-input" id="match_deploy_vm_shutdown_script_location" aria-invalid="false"><div class="md-errors-spacer"></div>
                            </md-input-container>

                            <md-input-container class="md-block md-input-has-value">
                              <label for="tournaments_allowed">Allow Tournaments</label>
                              <md-checkbox ng-model="game.tournaments_allowed" aria-label="tournaments_allowed">

                                </md-checkbox>
                            </md-input-container>

                          </div>
                  </div>


                    <md-input-container class="md-block md-input-has-value">
                      <label for="input_banner_url">Use the continuous server API</label>
                      <md-checkbox ng-model="game.server_instance_continuous" aria-label="server_instance_continuous">

                        </md-checkbox>
                    </md-input-container>

                    <div>
                      <md-button type="submit" ng-click="submit(form, game)" >Save</md-button>
                    </div>
                    <div>
                      <md-button type="submit" ng-click="remove(game)" >Delete</md-button>
                    </div>
                  </form>

              </md-content>






              <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" ng-show="game.server_instance_continuous">
                <div class="md-toolbar-tools">
                  <h3 class="ng-binding">Server Clusters</h3>
                </div>
              </md-toolbar>
                <md-content layout-padding="" class="layout-padding _md" ng-show="game.server_instance_continuous" >


                  <div ng-show="!serverclusters.length">Nothing to show.</div>

                  <md-button style="margin-bottom: 20px;" type="submit" ui-sref="developerserverclustercreate({gameKeyId:game.key_id})">Add a new server cluster</md-button>

                    <div layout="row" layout-wrap>
                    <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="servercluster in serverclusters">
                      <md-card-title>
                        <md-card-title-text>
                          <span class="md-headline">{{servercluster.title}}</span>
                          <span class="md-subhead">{{servercluster.description}}</span>
                        </md-card-title-text>
                        <md-card-title-media>
                          <div class="md-media-sm card-media"></div>
                        </md-card-title-media>
                      </md-card-title>
                      <md-card-actions layout="row" layout-align="end center">
                        <md-button ui-sref="developerserverclusterdetail({gameKeyId:game.key_id, key_id:servercluster.key_id})">Edit</md-button>

                      </md-card-actions>
                    </md-card>
                    </div>


                  </md-content>



                  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" ng-show="game.server_instance_continuous">
                    <div class="md-toolbar-tools">
                      <h3 class="ng-binding">Game Levels</h3>
                    </div>
                  </md-toolbar>
                    <md-content layout-padding="" class="layout-padding _md" ng-show="game.server_instance_continuous">


                      <div ng-show="!game_levels.length">Nothing to show.</div>

                      <md-button style="margin-bottom: 20px;" type="submit" ui-sref="developergamelevelcreate({gameKeyId:game.key_id})">Add a new level</md-button>

                        <div layout="row" layout-wrap>
                        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="gamelevel in game_levels">
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">{{gamelevel.title}}</span>
                              <span class="md-subhead">{{gamelevel.selectionProbability}} probability</span>
                            </md-card-title-text>
                            <md-card-title-media>
                              <div class="md-media-sm card-media"></div>
                            </md-card-title-media>
                          </md-card-title>
                          <md-card-actions layout="row" layout-align="end center">
                            <md-button ui-sref="developergameleveldetail({gameKeyId:game.key_id, key_id:gamelevel.key_id})">Edit</md-button>

                          </md-card-actions>
                        </md-card>
                        </div>


                      </md-content>



                  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" ng-show="game.server_instace_match_deploy">
                    <div class="md-toolbar-tools">
                      <h3 class="ng-binding">Game Modes</h3>
                    </div>
                  </md-toolbar>
                    <md-content layout-padding="" class="layout-padding _md" ng-show="game.server_instace_match_deploy">


                      <div ng-show="!game_modes.length">Nothing to show.</div>

                      <md-button style="margin-bottom: 20px;" type="submit" ui-sref="developergamemodecreate({gameKeyId:game.key_id})">Add a new game mode</md-button>

                        <div layout="row" layout-wrap>
                        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="gamemode in game_modes">
                          <md-card-title>
                            <md-card-title-text>
                              <span class="md-headline">{{gamemode.onlineSubsystemReference}}</span>
                              <span class="md-subhead">{{gamemode.teams}} teams, {{gamemode.playersPerTeam}} players per team</span>
                            </md-card-title-text>
                            <md-card-title-media>
                              <div class="md-media-sm card-media"></div>
                            </md-card-title-media>
                          </md-card-title>
                          <md-card-actions layout="row" layout-align="end center">
                            <md-button ui-sref="developergamemodedetail({gameKeyId:game.key_id, key_id:gamemode.key_id})">Edit</md-button>

                          </md-card-actions>
                        </md-card>
                        </div>


                      </md-content>














  <div class="gameServers">
    <h3>Servers</h3>
    <!-- List of most recent server clusters. -->
    <div class="list-group">
    	<a ng-repeat="server in servers"
    		 ng-class="{active: server.id}"
    		 ui-sref="adminserverdetail({gameKeyId: game.key_id, key_id: server.key_id})"
    		 class="list-group-item">
    		<h4 class="list-group-item-heading">
    			{{server.title}}
    		</h4>
    		<p class="list-group-item-text">
    			{{server.description}}
          <span class="pull-right">
            <span ng-if="server.continuous_server_active" class="glyphicon glyphicon-fire" aria-hidden="true"></span>
            <span ng-if="server.continuous_server_provisioned" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            <span ng-if="server.continuous_server_region" class="glyphicon glyphicon-map-marker" aria-hidden="true">{{ server.continuous_server_region }}</span>
          </span>

    		</p>

    	</a>

    </div>
  </div>
