<div ui-view="nav"></div>


{{ server.title }}
{{ server.description }}

<div ng-if="userAccount.admin">
  <!-- ADMIN EDIT FORM -->
  <button ng-click="toggleServerEdit()"> ADMIN EDIT </button>
  <div ng-show="editServer">
    <form name="form" ng-submit="submit(form, server)" novalidate>
      <div class="input-group">


            <p>Description</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.description.$valid}">
              <input ng-model="server.description" name="description" type="text" required class="form-control input-md">
            </div>

            <p>Title</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.title.$valid}">
              <input ng-model="server.title" name="title" type="text" required class="form-control input-md">
            </div>

            <p>What is the minimum currency amount a user must transfer into this server to play here?</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.minimumCurrencyHold.$valid}">
              <input ng-model="server.minimumCurrencyHold" name="minimumCurrencyHold" type="number" min="0" max="10000000" class="form-control input-md">
            </div>
            <p>What is the admission fee a user must pay to play here</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.admissionFee.$valid}">
              <input ng-model="server.admissionFee" name="admissionFee" type="number" min="0" max="10000000"  class="form-control input-md">
            </div>

            <md-input-container class="md-block">
              <label>What is the maximum amount of CRED to keep on this server? </label>
              <input required type="number" step="any" name="min_online" min="100000"
                   max="10000000" ng-model="server.server_to_game_transfer_threshold"  />
                   <div class="hint">Amounts higher than this, are transferred off the server to the game on a daily basis.</div>

              <div ng-messages="form.server_to_game_transfer_threshold.$error" multiple md-auto-hide="true">
                <div ng-message="required">
                  A number is required here.
                </div>
                <div ng-message="min">
                  Minimum 100,000
                </div>
                <div ng-message="max">
                  Maximum 10,000,000
                </div>
              </div>
            </md-input-container>

            <p>Developer invisible setting</p>
            <!-- Text input-->
            <div class="input-group">
              <input
                ng-model="server.invisible_developer_setting" name="invisible_developer_setting" ng-class="{'has-error' : !updateServer.invisible_developer_setting.$valid}"
              type="checkbox" >
            </div>

            <p>hostConnectionLink.  This normally is overridden by dedicated servers on startup, but it should be something so session searches can find it.</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.hostConnectionLink.$valid}">
              <input ng-model="server.hostConnectionLink" name="hostConnectionLink" type="text" required class="form-control input-md">
            </div>

            <p>session_host_address.  This normally is overridden by dedicated servers on startup, but it should be something so session searches can find it.</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.session_host_address.$valid}">
              <input ng-model="server.session_host_address" name="session_host_address" type="text" required class="form-control input-md">
            </div>

            <p>session_id.  This normally is overridden by dedicated servers on startup, but it should be something so session searches can find it.</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.session_id.$valid}">
              <input ng-model="server.session_id" name="session_id" type="text" required class="form-control input-md">
            </div>

        <div>Continuous servers:  You can host your own compute engine instances and pay for them yourself, or host them here, and have your users pay for them</div>

            <p>Use server allocation process for continuous servers</p>
            <!-- Text input-->
            <div class="input-group">
              <input
                ng-model="server.continuous_server" name="continuous_server" ng-class="{'has-error' : !updateServer.continuous_server.$valid}"
              type="checkbox" >
            </div>

            <p>This server is an entry point.  Entry servers show up in the initial server selection menu.  non-entry servers can only be accessed via server links through other servers.</p>
            <!-- Text input-->
            <div class="input-group">
              <input
                ng-model="server.continuous_server_entry" name="continuous_server_entry" ng-class="{'has-error' : !updateServer.continuous_server_entry.$valid}"
              type="checkbox" >
            </div>

            <p>Provisioned</p>
            <!-- Text input-->
            <div class="input-group">
              <input
                ng-model="server.continuous_server_provisioned" name="continuous_server_provisioned" ng-class="{'has-error' : !updateServer.continuous_server_provisioned.$valid}"
              type="checkbox" >
            </div>

            <p>VM specific details have been moved to server clusters.</p>


            <p>RandomRef</p>
            <!-- Text input-->
            <div class="input-group" ng-class="{'has-error' : !updateServer.randomRef.$valid}">
              <input ng-model="server.randomRef" name="randomRef" type="number" min="0" max="1"  class="form-control input-md">
            </div>



        <p>Invisible</p>
        <input
          ng-model="server.invisible"
          class="form-control" type="checkbox">
        </div>

        <div>


        <div>
          <span class="input-group-btn">
            <button
              ng-disabled="form.$invalid"
              class="btn btn-primary">
              <span class="glyphicon glyphicon-ok"></span> Save
            </button>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
