<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
  <div class="md-toolbar-tools">
    <h3 class="ng-binding">Users</h3>
  </div>
</md-toolbar>
  <md-content layout-padding="" class="layout-padding _md">

<form name="form" ng-submit="submit(form, thisuser)" novalidate>
  <md-input-container class="md-block md-input-has-value">
    <label for="input_title">Title</label>
    <input ng-model="thisuser.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
  </md-input-container>
  <md-input-container class="md-block">
    <label>Description</label>
    <textarea ng-model="thisuser.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
  </md-input-container>
  <md-input-container class="md-block md-input-has-value">
    <label for="input_firebaseuser">Firebase account</label>
    <input ng-model="thisuser.firebaseUser" class="ng-pristine ng-untouched ng-valid md-input" id="input_firebaseuser" aria-invalid="false"><div class="md-errors-spacer"></div>
  </md-input-container>
  <md-input-container class="md-block md-input-has-value">
    <label for="input_currencyBalance">currencyBalance</label>
    <input ng-model="thisuser.currencyBalance" type="number" class="ng-pristine ng-untouched ng-valid md-input" id="input_currencyBalance" aria-invalid="false"><div class="md-errors-spacer"></div>
  </md-input-container>



    <div>
      <span class="input-group-btn">
        <button
          ng-disabled="form.$invalid"
          class="btn btn-primary">
          <span class="glyphicon glyphicon-ok"></span> Save
        </button>
      </span>
    </div>
  </div>
</form>

</div>

<div ng-if="thisuser.key_id" style="margin-top: 1em;">
  <button
    ng-click="remove(user)"
    class="btn btn-danger">
    <span class="glyphicon glyphicon-trash"></span> Delete
  </button>
  <p ng-if="$config.debug">
    Delete an item by id.
    <br>
    <code>DELETE <span seed-api="{{thisuser.key_id}}"></span></code>
  </p>
</div>
  </md-content>
