

    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Users</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">
        <div ng-show="!users.length">No users found. </div>


        <div >
          <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="thisuser in users">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{thisuser.title}}</span>
                <span class="md-subhead">{{thisuser.description}}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-sm card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button ui-sref="adminuserdetail({key_id: thisuser.key_id})">Edit</md-button>

            </md-card-actions>
          </md-card>

        </div>
  </md-content>
