<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Group Game Details</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">
        <p>The connection between the game and group also allows for a specified discord webhook to accept the configurable feeds.
<form class="form-horizontal" name="updateUser">
<fieldset>

  <md-input-container class="md-block md-input-has-value">
    <label for="input_discordWebhook">discordWebhook</label>
    <input ng-model="groupGame.discordWebhook" class="ng-pristine ng-untouched ng-valid md-input" id="input_discordWebhook" aria-invalid="false"><div class="md-errors-spacer"></div>
  </md-input-container>

  <md-input-container class="md-block md-input-has-value">
  <md-checkbox ng-model="groupGame.discord_subscribe_game_event_feeds" aria-label="discord_subscribe_errors">
      Subscribe
  </md-checkbox>
</md-input-container>

    <md-input-container class="md-block md-input-has-value">
  <md-checkbox ng-model="groupGame.discord_subscribe_game_event_feed_kills" aria-label="discord_subscribe_transactions">
      Subscribe to kills
  </md-checkbox>
</md-input-container>

    <md-input-container class="md-block md-input-has-value">
  <md-checkbox ng-model="groupGame.discord_subscribe_game_event_feed_wins" aria-label="discord_subscribe_transactions">
      Subscribe to wins
  </md-checkbox>
</md-input-container>

<md-input-container class="md-block md-input-has-value">
<md-checkbox ng-model="groupGame.discord_subscribe_game_ad_status_changes" aria-label="discord_subscribe_ads">
  Subscribe to Ad status changes
</md-checkbox>
</md-input-container>


  <md-input-container class="md-block md-input-has-value">
  <md-checkbox ng-model="groupGame.show_game_on_group_page" aria-label="show_game_on_group_page">
      Show this game on the group page.
  </md-checkbox>
</md-input-container>

  <md-input-container class="md-block md-input-has-value">
    <label for="input_inGameTextureServingUrl">In-Game Texture URL</label>
    <input ng-model="groupGame.inGameTextureServingUrl" class="ng-pristine ng-untouched ng-valid md-input" id="input_inGameTextureServingUrl" aria-invalid="false"><div class="md-errors-spacer"></div>
    <div class="hint" >Check the game's documentation for instructions on how to set up your custom texture.</div>
  </md-input-container>


  <div>
    <md-button type="submit" ng-click="submit(form, groupGame)" >Save</md-button>
  </div>

          <div>
            <md-button type="submit" ng-click="remove(groupGame)" >Delete</md-button>
          </div>

          </fieldset>
          </form>
</md-content>

<md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" ng-show="userCanEditAds">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">ads</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md" ng-show="userCanEditAds">

        <div ng-show="!ads.length">
            No ads to show.
        </div>

        <md-button style="margin-bottom: 20px;" type="submit" ui-sref="groupadcreate({key_id:groupKeyId, groupGameKeyId:groupGameKeyId })">Create an ad</md-button>


        <md-list>
         <md-list-item ng-repeat="ad in ads" class="noright">
           <md-icon><img src="{{ ad.icon_url }}" alt="ICON" width="64px"></md-icon>
           <p><b><span am-time-ago="ad.created | amUtc "></span></b> : {{ ad.title }}</p>
           <md-button class="md-secondary" ui-sref="groupaddetail({groupKeyId:groupKeyId, key_id:ad.key_id, groupGameKeyId:groupGameKeyId })">EDIT</md-button>
         </md-list-item>
        </md-list>

      </md-content>
