<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Service costs</h3>

      </div>
    </md-toolbar>

    <md-content layout-padding="" class="layout-padding _md">


      <div layout="row" class="costs-header">
        <div flex layout-align="center center" style="text-align: center;" layout="column">
          <div flex></div>
          <div >
            <md-icon ng-style="{'font-size': '48px', height: '48px'}">lock_open</md-icon>
          </div>
          <div class="preview-scale">
            <span class="step" style="padding-left:24px">Open Source - Totally Free</span>
          </div>
        </div>

        <div flex layout-align="center center" style="text-align: center;" layout="column">
          <div flex></div>
          <div >
            <md-icon ng-style="{'font-size': '48px', height: '48px'}">free_breakfast</md-icon>
          </div>
          <div class="preview-scale">
            <span class="step" style="padding-left:24px">Free to Use</span>
          </div>
        </div>

        <div flex layout-align="center center" style="text-align: center;" layout="column">
          <div flex></div>
          <div >
            <md-icon ng-style="{'font-size': '48px', height: '48px'}">credit_card</md-icon>
          </div>
          <div class="preview-scale">
            <span class="step" style="padding-left:24px">Withdrawn from game wallet</span>
          </div>
        </div>

        <div flex layout-align="center center" style="text-align: center;" layout="column">
          <div flex></div>
          <div >
            <md-icon ng-style="{'font-size': '48px', height: '48px'}">shopping_cart</md-icon>
          </div>
          <div class="preview-scale">
            <span class="step" style="padding-left:24px">5% Fee</span>
          </div>
        </div>


      </div>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">The UETOPIA plugin</span>
            <span class="md-subhead">This is the unreal engine plugin, which connects the game to the UETOPIA backend.</span>
          </md-card-title-text>
          <md-card-title-media>
          <md-icon ng-style="{'font-size': '48px', height: '48px', 'margin': '15px'}">lock_open</md-icon>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
         <p>
           What can you do for free?  Everything, subject to the open source licesne.
         </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="https://github.com/uetopia/uetopia-online-subsystem">View source code</md-button>
        </md-card-actions>
      </md-card>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Pro/MMO Game Template</span>
            <span class="md-subhead">This template is an example of how to use the UETOPIA plugin and backend to create persistent worlds.</span>
          </md-card-title-text>
          <md-card-title-media>
          <md-icon ng-style="{'font-size': '48px', height: '48px', 'margin': '15px'}">lock_open</md-icon>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
         <p>
           What can you do for free?  Everything, subject to the open source licesne.
         </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="https://github.com/uetopia/ProMMO">View source code</md-button>
        </md-card-actions>
      </md-card>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Pro/eSports Game Template</span>
            <span class="md-subhead">This template is an example of how to use the UETOPIA plugin and backend to create match based competitive games.</span>
          </md-card-title-text>
          <md-card-title-media>
          <md-icon ng-style="{'font-size': '48px', height: '48px', 'margin': '15px'}">lock_open</md-icon>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
         <p>
           What can you do for free?  Everything, subject to the open source licesne.
         </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="https://github.com/uetopia/ProESports">View source code</md-button>
        </md-card-actions>
      </md-card>

      <md-divider></md-divider>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">The UETOPIA website</span>
            <span class="md-subhead">The website provides interfaces for developers and players.</span>
          </md-card-title-text>
          <md-card-title-media>
          <md-icon ng-style="{'font-size': '48px', height: '48px', 'margin': '15px'}">free_breakfast</md-icon>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
         <p>
           What can you do for free?  Use the site.
         </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="https://uetopia.com">View website</md-button>
        </md-card-actions>
      </md-card>

      <md-divider></md-divider>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">UETOPIA hosted dedicated servers</span>
            <span class="md-subhead">Managed dedicated game servers are billed by the second at competitive rates.  These costs are withdrawn automatically from the game wallet.</span>
          </md-card-title-text>
          <md-card-title-media>
          <md-icon ng-style="{'font-size': '48px', height: '48px', 'margin': '15px'}">credit_card</md-icon>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
         <p>
           What can you do for free?  You can host your own servers, or use a third party provider to host your servers.  If you choose to do this, you will miss out on the managed features, like matchmaker, sharding, and instancing.
         </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/faq">More information</md-button>
        </md-card-actions>
      </md-card>

      <md-divider></md-divider>

      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Game Income</span>
            <span class="md-subhead">Sales, admission fees, microtransactions, and game donations are all subject to a 5% fee.  This fee is withdrawn automatically from the game wallet.  </span>
          </md-card-title-text>
          <md-card-title-media>
          <md-icon ng-style="{'font-size': '48px', height: '48px', 'margin': '15px'}">shopping_cart</md-icon>
          </md-card-title-media>
        </md-card-title>
        <md-card-content>
         <p>
           What can you do for free?  You can use a third party payment provider to accept payments for your game.  If you choose to do this, you will be paying the payment provider's fees, and you will be responsible for security, and compliance with any regulations.
         </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button href="#/faq">More information</md-button>
        </md-card-actions>
      </md-card>


    </md-content>
