<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Developer Agreement</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">

<p>This UETOPIA  License Agreement (this "Agreement") is entered into by and between you (the "Licensee" or "You") and UETOPIA, LLC, a Delaware limited liability company ("UETOPIA") with offices located at 2311 Ranch Club Road #186 Silver City, NM 88061-7807.
  For purposes of this Agreement, the parties to this Agreement may be referred to from time to time individually as a "Party" and collectively as the "Parties."

<p>THIS LICENSE DOCUMENT DESCRIBES A CONTRACT BETWEEN LICENSEE AND UETOPIA. PLEASE READ IT BEFORE DOWNLOADING OR USING THE UETOPIA PLUGINS (DESCRIBED BELOW). BY DOWNLOADING AND/OR USING THE PLATFORM, YOU INDICATE YOUR ACCEPTANCE OF THIS AGREEMENT. IF YOU DO NOT AGREE, DO NOT DOWNLOAD THE PLUGINS AND/OR USE THE PLATFORM.

<p>Recitals

<p>A.	UETOPIA is the developer of an online platform entitled the UETOPIA Platform (the "Platform") that is not related to, controlled by or affiliated in any way with Epic Games, Inc. and/or its game engine, Unreal Engine.

<p>B.	  The Platform provides plugins that allow game developers who use Unreal Engine to provide players of their games with a variety of tools specifically designed to enhance the player experience in multiplayer online games.

<p>C.	Licensee, who either has developed or is in the process of developing an online game / experience / simulation on Unreal Engine, desires take advantage of the unique attributes of the Platform.

<p>D.	Licensee wishes to receive, and UETOPIA wishes to disclose and deliver to Licensee, the UETOPIA Plugins (the "Plugins"), which grant Licensee access to the Platform, all pursuant to the terms and conditions set forth below.

<h2>Terms and Conditions</h2>

<p>NOW, THEREFORE, for and in consideration of the Recitals above, the mutual terms, conditions, promises and covenants set forth below and for other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, the Parties hereby agree as follows:

<p>1.	License.

<p>1.1	License Grant. UETOPIA hereby grants Licensee a non-exclusive, royalty-free, terminable, worldwide, nontransferable license to use, modify and locally reproduce the Plugins solely for purposes of providing online games developed by Licensee to access the Platform (the "License"). Any and all Plugins developed and made available by UETOPA are delivered subject to the Apache License, Version 2.0

<p>1.2	Updates. UETOPIA may, from time to time, in its sole discretion, provide updates, error corrections, and future versions of the Plugins to Licensee. Upon delivery, such updates, error corrections and future versions shall be deemed part of the Plugins or the Platform, as applicable, under this Agreement.

<p>1.3	Reservation of Rights. UETOPIA reserves any and all rights to the Platform not explicitly granted in this Agreement.

<p>1.4	No Ownership of Licensees' Games.  Notwithstanding anything to the contrary in this Agreement, Licensee shall retain all right, title and interest in and to games and other content created by Licensee and UETOPIA shall not, by operation of this Agreement or otherwise, acquire, directly or indirectly, any interest, of any kind or nature whatsoever, in or to Licensees intellectual property.

<p>1.5	UETOPIA Account Required.  In order to access and download Plugins, Licensee must set up user account with a unique ID and associated password selected by Licensee (an "Account").  Licensee's Account enables Licensee to download Plugins subject to the provisions of this Agreement.   Licensee may not share or allow others to use the Account.  Licensee is responsible for the security of Licensee's Account.

<p>1.6	Term of License.  Under the License, the Licensee may use the Plugins, for so long as Licensee complies fully with this Agreement, including ensuring and warranting that all users of Licensee who access the Plugins also are in compliance with this License.

<p>1.7	Site Tokens.  Use of the Platform requires a valid UETOPIA site token (a "Token").  A Token is valid only when it has a positive balance, which balance is denominated in  "CRED".  UETOPIA immediately suspends access to the Platform when a transaction occurs that causes a Token to reflect a negative CRED balance. UETOPIA automatically and immediately reinstates and restores access to the Platform when the Token balance once has a positive CRED balance.

<p>2.	Royalty. Licensee hereby agrees to pay and to cause Licensee's users (individually, a "User" and collectively, "Users") to pay UETOPIA a royalty equal to FIVE PERCENT (5%) of all transactions resulting from Licensee's or its Users'  use of and access to the Platform (the "Royalty"). Licensee, for and on behalf of its Users,  understands, acknowledges and agrees that UETOPIA automatically collects the Royalty in real-time from Token depleting transactions on the Platform initiated by Licensee or Users.

<p>3.	Confidentiality. As part of connecting to and implementing the Platform into Licensee's online game, UETOPIA will be exposed to certain confidential information about, among other things, the status of the development process and the anticipated launch date of Licensee's online game (collectively, the "Launch Information.")  In the true spirit of partnering, UETOPIA shall hold all Launch Information in strict confidence and shall not disclose any it to any third party.  Furthermore, UETOPIA will disclose Launch Information only to internal personnel who need to know such information.

<p>4. 	Ancillary Obligations.

<p>4.1 	No Obligation to Provide Services. Nothing in this Agreement shall be interpreted or construed as establishing an obligation of UETOPIA to provide the Platform or the Plugins for distribution.

<p>4.2	Indemnity. Licensee hereby agrees that it is solely responsible for any and all Licensee Software and Licensee's creation, distribution, and promotion of that Licensee Software. Licensee shall defend, indemnify, and hold harmless UETOPIA, its officers, directors, partners, employees and agents against any and all claims, damages (including reasonable attorneys' fees and costs), losses, or liabilities whatsoever arising out of Licensee's creation, distribution, or promotion of Licensee Software.

<p>4.3	Trademarks. Licensee acknowledges and agrees that this Agreement does not grant Licensee any right to use any trademarks or trade names of UETOPIA or its licensors. All such marks shall remain the property of the respective owner. Licensee will refrain from any action or communication that can be incorrectly interpreted as a joint venture or partnership between UETOPIA and Licensee.

<p>4.4 	No Reverse Engineering. Licensee will not take any steps to reverse engineer the functionality or develop software to replace the functionality the Platform.

<p>5.	Term.

<p>5.1	Term. This Agreement shall become effective on of the date Licensee downloads or installs the Plugins. It will continue to apply until terminated by either UETOPIA or Licensee in the manner described in paragraph 4.2 below.

<p>5.2	Termination. UETOPIA may terminate this Agreement immediately upon written (including email) notice to Licensee.  Licensee may terminate this Agreement at any time by ceasing Licensee's use of the Pugins and ending Licensee's distribution of Licensee Software that use the Plugins to access the Platform. Furthermore, this Agreement will terminate automatically upon Licensee's breach of any term of this Agreement.

<p>5.3	Survival. Sections 1.3, 2, 4, 5.2, 5.3 and 6-8 shall survive any expiration or termination of this Agreement.

<p>6.	Disclaimer of Warranties; Limitation of Liability

<p>6.1	NO WARRANTIES. THE PLUGINS, THE PLATFORM AND ANY OTHER MATERIAL DOWNLOADED BY LICENSEE IS PROVIDED "AS IS". UETOPIA DISCLAIM ALL WARRANTIES WITH RESPECT TO THE PLUGINS OR THE PLATFORM, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, NON-INFRINGEMENT, TITLE AND FITNESS FOR A PARTICULAR PURPOSE.

<p>6.2	LIMITATION OF LIABILITY. IN NO EVENT SHALL UETOPIA, OR ANY OF ITS DIRECT OR INDIRECT OWNERS, MANAGERS, PARTNERS, EMPLOYEES OR SUPPLIERS BE LIABLE FOR ANY SPECIAL, INCIDENTAL, INDIRECT, OR CONSEQUENTIAL DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF BUSINESS PROFITS, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION, OR ANY OTHER PECUNIARY LOSS) ARISING OUT OF THE USE OF OR INABILITY TO USE THE PLUGINS AND AND/OR THE PLATFORM, EVEN IF UETOPIA HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.

<p>7.	No Exclusivity. Neither this Agreement nor the disclosure or receipt of any information related or pertaining to UETOPIA or Licensee shall constitute or imply any promise or intention to make any purchase of products or services by either Party or its affiliated companies or any commitment by either party or its affiliated companies with respect to the present or future marketing of any product or service or any commitment to enter into any other business relationship. Except for the license and use restrictions expressly set forth in this Agreement, each Party will be free (1) to pursue, negotiate, and enter into similar relationships with third parties, and (2) to develop, market, and make available similar products and services. Neither Party will be obligated to enter into any other agreement with the other Party by virtue of this Agreement.

<p>8.	General.

<p>8.1	Assignment. Licensee may not assign this agreement without the prior written consent of UETOPIA. Subject to the limitations set forth in this Agreement, this Agreement will inure to the benefit of and be binding upon the parties, their successors and assigns.

<p>8.2	Caption Headings. Caption headings in License are for convenience purposes only and are not to be used to interpret or define the provisions of this License.

<p>8.3	Severability.  If a court of competent jurisdiction finds any provision of this Agreement to be illegal, invalid, or unenforceable as to any circumstance, that finding shall not make the offending provision illegal, invalid, or unenforceable as to any other circumstance.  If feasible, the offending provision shall be considered modified so that it becomes legal, valid and enforceable.  If the offending provision cannot be so modified, it shall be considered deleted from this Agreement.  Unless otherwise required by law, the illegality, invalidity, or unenforceability of any provision of this Loan shall not affect the legality, validity or enforceability of any other provision of this Loan.

<p>8.4	Governing Law.  This Agreement will be deemed to have been made and executed in the State of New Mexico, U.S.A, and will be governed by and construed and enforced in accordance the laws of the State of New Mexico, U.S.A, without regard to its conflicts or choice of law provisions that otherwise would require references to another jurisdiction, and of the United States of America.

<p>8.5	Choice of Jurisdiction and Venue.  Any action or proceeding brought to enforce any one or more of the terms of this Agreement, including those related or pertaining to or associated with the terms of this Agreement, must be brought in the District Court of Washoe County, State of Nevada or United States District Court located in Reno, Nevada.  Licensee agrees to the exclusive jurisdiction and venue of these courts.  Licensee hereby waives any claim of inconvenient forum and any right to a jury trial.  The Convention on Contracts for the International Sale of Goods will not apply.  Any law or regulation providing that the language of a contract shall be construed against the drafter will not apply to this Agreement.

<p>8.6	No Oral Modifications.  No alteration of or amendment to this Agreement shall be effective unless given in writing and signed by the Parties sought to be charged or bound by the alteration or amendment.

<p>8.7	Entire Agreement.  This Agreement constitutes the entire agreement and understanding between and among the Parties with regard to the matters set forth herein  and supersedes all previous communications, representations and understandings, oral or written, between the Parties, with respect to the subject matter of this Agreement.

<p>8.8	Binding Effect.   This Agreement shall be binding upon and inure to the benefit of each Party, its heirs, agents, representatives, partners, directors, governors, shareholders, members, officers, employees, members, successors, assigns, executors, administrators, personal representatives, trustees and beneficiaries.

<p>8.9	Notice.  Any notice required to be given under this Agreement shall be given in writing, and shall be effective when actually delivered, when actually received by email or facsimile transmission (unless otherwise required by law), when deposited with a nationally recognized overnight courier, or, if mailed, when deposited in the United States mail, as first class, certified or registered mail postage prepaid, directed to the respective addresses below:
Notices to UETOPIA:	UETOPIA, LLC
2311 Ranch Club Road #186
Silver City, NM 88061-7807

<p>Any Party may change its address for notices under this Loan by giving formal written notice to the other parties, specifying that the purpose of the notice is to change the party's address.  For notice purposes, each Party shall keep the other apprised at all times of said Party's current address.

<p>8.10	Construction.  This Agreement, including without limitation any ambiguity contained herein, shall be construed without regard to the Party or Parties responsible for its preparation, and will be deemed to have been prepared jointly by the Parties.

<p>8.11	Language.  The original of this Agreement is in English.  Any translations are provided for purposes of reference and convenience only.  Licensee expressly waives any right Licensee may have under the laws of Licensee's country to have this Agreement written or construed in the language of any other country.


        <div layout="row">
          <md-button ng-click="answer('disagree')">
           I do not agree
          </md-button>
          <span flex></span>
          <md-button ng-click="answer('agree')">
            I agree
          </md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
