<md-toolbar class="demo-toolbar md-primary md-hue-1 _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Friends</h3>
        <span flex></span>
          <md-button class="md-icon-button" ui-sref="usersearch">
            <i class="material-icons">search</i>
          </md-button>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

        <div ng-show="!friends.length">No friends to show.</div>
        <md-list>

          <md-list-item ng-repeat="friend in friends" ui-sref="userprofile({key_id:friend.userTargetKeyId})"  class="md-3-line">
            <img ng-if="friend.userTargetPicture" alt="{{ friend.userTargetTitle }}" ui-sref="userprofile({key_id:friend.userTargetKeyId})"  ng-src="{{ friend.userTargetPicture }}" class="md-avatar" />
            <img ng-if="!friend.userTargetPicture" alt="{{ friend.userTargetTitle }}" ui-sref="userprofile({key_id:friend.userTargetKeyId})"  ng-src="/img/user_photo_placeholder.jpg" class="md-avatar" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ friend.userTargetTitle }}</h3>
              <h4 ng-show="friend.playingLink">{{ friend.playingGame }}</h4>
              <p ng-show="friend.playingLink">{{ friend.playingOnServer }}</p>
            </div>
            <md-icon class="material-icons" ng-show="friend.online">wifi</md-icon>
            <md-button class="md-secondary" ng-show="friend.streaming" href="{{ friend.streamLink }}" target="_blank"> <md-icon class="material-icons" ng-show="friend.streaming">live_tv</md-icon></md-button>
            <md-button class="md-secondary" ng-show="friend.playingLink" href="{{ friend.playingLink }}" > <md-icon class="material-icons" >open_in_new</md-icon> </md-button>

          </md-list-item>

        </md-list>


      </md-content>
