<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Badge Details</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

        <h3>{{ badge.gameTitle }} : {{ badge.title }}</h3>

        <p> <md-icon class="material-icons {{ badge.icon_url }}">{{ badge.icon_url }}</md-icon></p>

        <h3>This badge grants the following tags</h3>
        <md-chips >
          <md-chip ng-repeat="tag in badge.tags">{{tag}}</md-chip>
        </md-chips>

<form class="form-horizontal" name="addContact">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <p>Enable Auto-refresh.  This will automatically renew the badge when it expires.  </p>
          <md-checkbox ng-model="badge.autoRefresh" aria-label="Auto Refresh">
              Enable Auto-refresh
          </md-checkbox>
        </md-input-container>

<md-button type="submit" ng-click="submitAdd()">Submit</md-button>

</fieldset>
</form>
