<link ng-if="game.css_url" rel="stylesheet" ng-href="{{ game.css_url }}"> <!-- developer  defined stylesheet -->

<md-toolbar ng-cloak class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">{{ game.title }}</h3>
        <span flex></span>
        <md-button  ng-if="user.admin"  class="md-icon-button" ui-sref="admingamedetail({ key_id: game.key_id})">
          <i class="material-icons">mode_edit</i>
        </md-button>
        <md-button ng-show="user" class="md-primary md-raised" md-primary ui-sref="gameplayerdetail({ key_id: game.key_id})">Play / Settings</md-button>
        <md-button ng-show="user" class="md-primary md-raised"  target="_blank" href="{{ game.download_url }}">Download</md-button>
        <md-button ng-show="user" class="md-primary md-raised" ng-click="showDonateDialog($event)">Donate</md-button>

        <md-button ng-show="!user" ng-disabled="true" class="md-raised md-warn" >Login to Play</md-button>
        <!-- <md-button ng-show="!user" ng-disabled="true" ng-click="loggedOutHeaderSmall = !loggedOutHeaderSmall" class="md-raised md-warn" >Login to Download</md-button> -->


      </div>
    </md-toolbar>

    <md-content layout-padding="" class="layout-padding _md">
      <div layout="column" layout-gt-sm="row" class="layout-padding" flex>
        <div flex="44" layout-fill>
          <img src="{{ game.banner_url}}" ng-show="game.banner_url" alt="banner" style="width: 100%" ng-cloak>
          <img src="/img/groups/default_blue.png" ng-show="!game.banner_url" alt="banner" style="width: 100%" ng-cloak>
        </div>

        <div flex="29" layout-fill>

            <p>Genre: {{ game.genre }}</p>

            <p ng-cloak>{{ game.description }}</p>

            <p ng-cloak>{{ game.instructions }}</p>

            <p ng-show="!user" > Click Sign-In above to Download</p>

            <p ng-cloak ng-show="game.website_url"> <a href="http://{{ game.website_url}}" target="_new">Website</a> </p>

            <!-- <p ng-cloak ng-show="game.match_allow_metagame"> <a href="http://{{ game.match_metagame_api_url}}" target="_new">Meta game</a> </p> -->

            <div ng-show="game.offers" layout="row">

             <div layout="row" layout-wrap class="layout-padding" flex>
               <b> Offers</b>
               <div flex="44" ng-repeat="offer in game.offers">

                 <md-button ui-sref="offerclaim({offerKeyId: offer.key_id })"
                        title="{{ offer.title }} : {{ offer.description }}"
                        ng-disabled="false"
                        aria-label="{{ offer.title }}"
                        class="md-icon-button md-primary {{ offer.icon_url }}" >
                   <i ng-show="offer.icon_url" class="material-icons">{{ offer.icon_url }}</i>
                 </md-button>

               </div>
             </div>

           </div>

        </div>

      </div>



    </md-content>


      <div class="gameDetailLists"  layout="column" layout-gt-sm="row"  flex>

        <div ng-show="game.tournaments_allowed" flex="noshrink" ng-cloak>
            <md-toolbar class="md-primary _md _md-toolbar-transitions" >
              <div class="md-toolbar-tools">
                    <h3 class="ng-binding">Tournaments</h3>
                  <span flex></span>
                  <md-button class="md-icon-button" ng-show="user" ui-sref="tournamentcreate({ key_id: game.key_id})">
                    <i class="material-icons">add_box</i>
                  </md-button>

                  <md-button class="md-raised md-warn" ng-show="!user" ng-disabled="true">
                    Login to Create Tournaments
                  </md-button>

                </div>
                </md-toolbar>
            <md-content layout-padding="" class="layout-padding _md">
              <div ng-if="gameplayer.key_id">

                  <div ng-show="!tournaments.length">No tournaments to show.

                  </div>

                  <md-list class="md-dense" flex>
                    <md-list-item class="md-3-line" ng-repeat="tournament in tournaments" ui-sref="tournamentdetail({gameKeyId:game.key_id, key_id:tournament.key_id})">
                      <div class="md-list-item-text" layout="column">
                        <h3>{{tournament.title}}</h3>

                        <span ng-if="tournament.region" aria-hidden="true">{{ tournament.region }}</span>
                      </div>
                    </md-list-item>
                  </md-list>

                  </div>
            </md-content>
          </div>


<div flex="noshrink" ng-show="game.server_instance_continuous"  ng-cloak>
    <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
          <div class="md-toolbar-tools">
            <h3 class="ng-binding">Clusters</h3>
            <span flex></span>

          </div>
        </md-toolbar>
    <md-content layout-padding="" class="layout-padding _md">


          <div ng-show="!clusters.length">No clusters to show.</div>

          <md-list class="md-dense" flex="noshrink">
            <md-list-item class="md-2-line" ng-repeat="cluster in clusters" ui-sref="clusterdetail({gameKeyId:game.key_id, key_id:cluster.key_id})" >
              <i class="material-icons md-avatar-icon iconServerUp">list</i>

              <div class="md-list-item-text" layout="column">
                <h3>{{cluster.title}}</h3>

                <span ng-if="cluster.region" aria-hidden="true">{{ cluster.region }}</span>
              </div>

            </md-list-item>

          </md-list>




      </md-content>
    </div>

    <div flex="noshrink">
      <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" ng-cloak>
            <div class="md-toolbar-tools">
              <h3 class="ng-binding">Recent Players</h3>
            </div>
          </md-toolbar>

        <md-list class="md-dense" flex>
          <md-list-item class="md-3-line" ng-repeat="player in players | orderBy: '-rank'" ui-sref="userprofile({key_id:player.userKeyId})" >
            <img ng-show="!player.picture" ng-src="/img/user_photo_placeholder.jpg" class="md-avatar" alt="{{player.userTitle}}" />
            <img ng-show="player.picture" ng-src="{{player.picture}}" class="md-avatar" alt="{{player.userTitle}}" />
            <div class="md-list-item-text" layout="column">
              <h3>{{ player.groupTag }} {{ player.userTitle }}</h3>
              <h4>Rank: {{ player.rank }}</h4>
              <p>Score: {{ player.score }}</p>
            </div>
          </md-list-item>

        </md-list>

    </div>

    <div flex="noshrink">
      <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" ng-cloak>
            <div class="md-toolbar-tools">
              <h3 class="ng-binding">News Feed</h3>
            </div>
          </md-toolbar>

        <md-list class="md-dense" flex>
          <md-list-item class="md-2-line" ng-repeat="event in eventfeed" >
            <i class="material-icons md-avatar-icon md-accent">{{ event.icon }}</i>
            <div class="md-list-item-text" layout="column">
              <b><span am-time-ago="event.created | amUtc "></span></b>
              <h3>{{ event.text }}</h3>
            </div>
          </md-list-item>

        </md-list>

    </div>


</div>
