<div ng-show="!loaded" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded">
  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">One Time Security Code</h3>

      </div>
    </md-toolbar>

    <md-content>
      <h1 ng-show="gameplayer.apiKey">{{ gameplayer.apiKey }}</h1>
      <h1 ng-show="!gameplayer.apiKey">Login using the game client first</h1>
    </md-content>

</div>
