<div ng-show="!loaded" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded">
  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Join Game / Settings</h3>

      </div>
    </md-toolbar>

    <md-content layout-padding="" class="layout-padding _md" >
      <form name="updateGamePlayer" novalidate>



  

          <md-input-container class="md-block" >
            <md-checkbox ng-model="player.showGameOnProfile" aria-label="Show game on my profile">
              Show this game on my public profile
            </md-checkbox>
          </md-input-container>

          <md-input-container class="md-block" ng-show="game.server_instance_continuous">
            <label>Which cluster do you want to play on? </label>
            <md-select ng-model="selected_server_cluster" >
              <md-option ng-value="server_cluster.key_id" ng-repeat="server_cluster in server_clusters">{{ server_cluster.title }}</md-option>
            </md-select>



            </md-input-container>

          <md-button type="submit" ng-click="submit(updateGamePlayer, player)">Submit</md-button>

      </form>

    </md-content>
</div>
