<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new tournament</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

Enter the specifications for your tournament

<form class="form-horizontal" name="addTournament">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input ng-model="tournament.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" required aria-invalid="false">
          <div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="tournament.description" md-maxlength="1550" rows="5" md-select-on-focus></textarea>
        </md-input-container>


        <md-input-container class="md-block">
          <label for="region">Which region should this tournament take place in?</label>
          <md-select ng-model="tournament.region" placeholder="Region" class="md-no-underline">
            <md-option value="northamerica-northeast1">Northeast North America: Montreal, Canada</md-option>
            <md-option value="us-west1">Western US:	 Oregon</md-option>
            <md-option value="us-west2">Western US:  Los Angeles</md-option>

            <md-option value="us-west3">Western US: Salt Lake City</md-option>
            <md-option value="us-west4">Western US: Las Vegas</md-option>

            <md-option value="us-central1">Central US:	Iowa</md-option>
            <md-option value="us-east1">Eastern US:	South Carolina</md-option>
            <md-option value="us-east4">Eastern US: Northern Virginia</md-option>
            <md-option value="southamerica-east1">Eastern South America: Sao Paulo, Brazil</md-option>
            <md-option value="europe-north1">North Europe: Hamina, Finland</md-option>
            <md-option value="europe-west1">Western Europe:	 Belgium</md-option>
            <md-option value="europe-west2">Western Europe:	 London U.K.</md-option>
            <md-option value="europe-west3">Western Europe:	 Frankfurt, Germany</md-option>
            <md-option value="europe-west4">Western Europe:	 Eemshaven, Netherlands</md-option>

            <md-option value="europe-west6">Western Europe: Zurich</md-option>

            <md-option value="asia-south1">South Asia:	Mumbai, India</md-option>
            <md-option value="asia-southeast1">Southeast Asia:	Singapore</md-option>
            <md-option value="asia-east1">East Asia:	Changhua County, Taiwan</md-option>
            <md-option value="asia-east2">East Asia: Hong Kong</md-option>
            <md-option value="asia-northeast1">Northeast Asia:	Tokyo</md-option>

            <md-option value="asia-northeast2">Northeast Asia: Osaka</md-option>
            <md-option value="asia-northeast3">Northeast Asia: Seoul</md-option>

            <md-option value="australia-southeast1">Southeast Australia:	Sydney, Australia</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label for="region">Which game mode?</label>
          <md-select ng-model="tournament.gameModeKeyId" placeholder="Game Mode" class="md-no-underline">
            <md-option ng-repeat="game_mode in game_modes" value="{{game_mode.key_id}}">
              {{game_mode.onlineSubsystemReference}}
            </md-option>
          </md-select>
        </md-input-container>


        <md-input-container class="md-block">
          <label>What is the minimum number of teams that the tournament will support?  The tournament will abort if there are not enough teams signed up.</label>
          <input required type="number" step="any" name="teamMin" min="2"
               max="8" ng-model="tournament.teamMin"  />
          <div ng-messages="addTournament.teamMin.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 2
            </div>
            <div ng-message="max">
              Maximum 8 (for now)
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>What is the maximum number of teams that the tournament will support?  The tournament will start as soon as this many teams have signed up.</label>
          <input required type="number" step="any" name="teamMax" min="2"
               max="8" ng-model="tournament.teamMax"  />
          <div ng-messages="addTournament.teamMax.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 2
            </div>
            <div ng-message="max">
              Maximum 8 (for now)
            </div>
          </div>
        </md-input-container>


        <md-input-container class="md-block">
          <label>How much CRED should it cost players to join this tournament?  </label>
          <input required type="number" step="any" name="playerBuyIn" min="0"
               max="1000000" ng-model="tournament.playerBuyIn"  />
          <div ng-messages="addTournament.playerBuyIn.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 1,000,000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>How much of your personal CRED do you want to put in the tournament winner pot?  </label>
          <input required type="number" step="any" name="additionalPrizeFromHost" min="0"
               max="1000000" ng-model="tournament.additionalPrizeFromHost"  />
          <div ng-messages="addTournament.additionalPrizeFromHost.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 1,000,000
            </div>
          </div>
        </md-input-container>




        <md-input-container class="md-block md-input-has-value">
        <md-checkbox ng-model="tournament.associateWithGroup" aria-label="associateWithGroup">
            Associate this tournament with one of your groups?
          </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block" ng-show="tournament.associateWithGroup">
          <label for="region">Which group?</label>
          <md-select ng-model="tournament.groupKeyId" placeholder="Group" class="md-no-underline">
            <md-option ng-repeat="group_user in group_users" value="{{group_user.groupKeyId}}">
              {{group_user.groupTitle}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value" ng-show="tournament.associateWithGroup">
        <md-checkbox ng-model="tournament.groupMembersOnly" aria-label="groupMembersOnly">
            Restrict signups to group members only.
          </md-checkbox>
        </md-input-container>



<md-button type="submit" ng-click="submitAdd()">Submit</md-button>

</fieldset>
</form>
