<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new blog post</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="addOffer">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input required ng-model="post.title" class="ng-pristine ng-untouched ng-valid md-input " id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Summary</label>
          <textarea ng-model="post.summary" md-maxlength="10000" rows="2" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Body</label>
          <textarea ng-model="post.body" md-maxlength="100000" rows="15" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_icon_url">Image Url</label>
          <input required ng-model="post.banner_url" class="ng-pristine ng-untouched ng-valid md-input" id="input_icon_url" aria-invalid="false"><div class="md-errors-spacer"></div>

        </md-input-container>

          <h3 class="md-title">Tags</h3>
            <md-chips name="tags" ng-model="posttags" readonly="false" md-removable="true" ng-required="true">
            </md-chips>
            <div class="md-chips-messages"
                 ng-show="addOffer.tags.$dirty || addOffer.$submitted"
                 ng-messages="addOffer.tags.$error">
              <div ng-message="required">At least one tag is required</div>
            </div>
            <div class="hint">Press Enter to create a tag.</div>


<md-button type="submit" ng-click="submitAdd(addOffer)">Submit</md-button>

</fieldset>
</form>

<h1>Preview</h1>
  <md-content layout-padding="" class="layout-padding _md">
    <p ng-bind-html="displaySafeHtml(post.body)"></p>
  </md-content>
