
    <md-content layout-padding="" class="layout-padding _md" ng-show="!posts.length && !show_header_posts">

      <div >No posts to show.</div>

    </md-content>

    <md-grid-list class="blogHero" ng-show="show_header_posts"
        md-cols-xs="1" md-cols-sm="2" md-cols-md="4" md-cols-gt-md="4"
        md-row-height-gt-md="1:1" md-row-height="2:2"
        md-gutter="0px" md-gutter-gt-sm="0px" >


    <md-grid-tile class="blogHero" ng-show="headerPost" ui-sref="blogpost({slugify_url:headerPost.slugify_url})"
        md-rowspan="2" md-colspan="2" md-colspan-sm="1" md-colspan-xs="1">
        <img src="{{ headerPost.banner_url }}" style="object-fit: cover; height: 100%;">

      <md-grid-tile-footer class="blogHero">
        <h3 class="blogHero">{{ headerPost.title }}</h3>
        <p class="blogHeroAuthor">
          <i class="material-icons md-light md-12" style="vertical-align: middle;">person</i>
          <a href="">{{ headerPost.author_name }}</a>
          <i class="material-icons md-light md-12" style="vertical-align: middle;">access_time</i>
          {{ headerPost.created}}
        </p>
      </md-grid-tile-footer>
    </md-grid-tile>


    <md-grid-tile class="blogFeature" ng-show="highlightPost1" ui-sref="blogpost({slugify_url:highlightPost1.slugify_url})">
        <img src="{{ highlightPost1.banner_url }}" style="object-fit: cover; height: 100%;">

      <md-grid-tile-footer class="blogFeature">
        <h3 class="blogFeature">{{ highlightPost1.title }}</h3>
        <p class="blogHeroAuthor">
          <i class="material-icons md-light md-12" style="vertical-align: middle;">person</i>
          <a href="">{{ highlightPost1.author_name }}</a>
          <i class="material-icons md-light md-12" style="vertical-align: middle;">access_time</i>
          {{ highlightPost1.created }}
        </p>
      </md-grid-tile-footer>
    </md-grid-tile>


    <md-grid-tile class="blogFeature" ng-show="highlightPost2" ui-sref="blogpost({slugify_url:highlightPost2.slugify_url})">
        <img src="{{ highlightPost2.banner_url }}" style="object-fit: cover; height: 100%;">

      <md-grid-tile-footer class="blogFeature">
        <h3 class="blogFeature">{{ highlightPost2.title }}</h3>
        <p class="blogHeroAuthor">
          <i class="material-icons md-light md-12" style="vertical-align: middle;">person</i>
          <a href="">{{ highlightPost2.author_name }}</a>
          <i class="material-icons md-light md-12" style="vertical-align: middle;">access_time</i>
          {{ highlightPost2.created }}
        </p>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blogFeature" ng-show="highlightPost3" ui-sref="blogpost({slugify_url:highlightPost3.slugify_url})">
        <img src="{{ highlightPost3.banner_url }}" style="object-fit: cover; height: 100%;">

      <md-grid-tile-footer class="blogFeature">
        <h3 class="blogFeature">{{ highlightPost3.title }}</h3>
        <p class="blogHeroAuthor">
          <i class="material-icons md-light md-12" style="vertical-align: middle;">person</i>
          <a href="">{{ highlightPost3.author_name }}</a>
          <i class="material-icons md-light md-12" style="vertical-align: middle;">access_time</i>
          {{ highlightPost3.created }}
        </p>
      </md-grid-tile-footer>
    </md-grid-tile>

    <md-grid-tile class="blogFeature" ng-show="highlightPost4" ui-sref="blogpost({slugify_url:highlightPost4.slugify_url})">
        <img src="{{ highlightPost4.banner_url }}" style="object-fit: cover; height: 100%;">

      <md-grid-tile-footer class="blogFeature">
        <h3 class="blogFeature">{{ highlightPost4.title }}</h3>
        <p class="blogHeroAuthor">
          <i class="material-icons md-light md-12" style="vertical-align: middle;">person</i>
          <a href="">{{ highlightPost4.author_name }}</a>
          <i class="material-icons md-light md-12" style="vertical-align: middle;">access_time</i>
          {{ highlightPost4.created }}
        </p>
      </md-grid-tile-footer>
    </md-grid-tile>



  </md-grid-list>

    <md-content layout-padding="" class="layout-padding _md">

      <div layout="row">

        <div flex class="blogLatestNewsHeader">
          <i class="material-icons md-light md-24" style="vertical-align: middle;">local_post_office</i>
          Latest News
        </div>
        <div flex></div>
        <div class="blogLatestNewsHeader">
          <a href="/feed/"><i class="material-icons md-light md-24" style="vertical-align: middle;">rss_feed</i></a>
        </div>
      </div>

      <md-divider></md-divider>

      <md-whiteframe class="md-whiteframe-5dp" flex-sm="100" flex-gt-sm="100" layout layout-row ng-repeat="post in posts" ui-sref="blogpost({slugify_url:post.slugify_url})">
        <div class="blogPostImageContainer" layout-align="center center">
          <img src="{{ post.banner_url }}" style="object-fit: cover; height: 100%;">
        </div>
        <div flex layout="row" layout-align="start end" class="blogPostTextContainer">
          <div layout="column">
            <h3 class="blogPost">{{ post.title }}</h3>
            <p class="blogPostAuthor">
              <i class="material-icons md-light md-12" style="vertical-align: middle;">person</i>
              <a ui-sref="userprofile({key_id:post.author_userKeyId})">{{ post.author_name }}</a>
              <i class="material-icons md-light md-12" style="vertical-align: middle;">access_time</i>
              {{ post.created }}
            </p>
            <p class="blogPostSummary">{{ post.summary }}</p>
          </div>
        </div>
      </md-whiteframe>
