
  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Developer documentation</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

        <md-button style="margin-bottom: 20px;" ng-click="toggleViewDeprecatedProjects()" >Show/Hide Deprecated Projects</md-button>

        <div>
          <h2>TEMPLATE: EXAMPLE GAME</h2>
          <p><a href="https://github.com/uetopia/ExampleGame" target="_new">Source Code</a></p>
          <p><a href="https://www.youtube.com/" target="_new">Video Demo (coming soon)</a></p>
          <p><a href="https://docs.google.com/document/d/12iwTjitOFa4XcWkuVRo-JyrWONepXjugwb8_mhOeZrw/edit?usp=sharing" target="_new">Text Walkthrough</a> </p>
          <p>
            <a href="https://www.youtube.com/" target="_new">Video Walkthrough (coming soon)</a>
          </p>
        </div>

        <div ng-show="viewDeprecatedProjects">
          <h2>TEMPLATE: PRO/MMO</h2>
          <p> (deprecated as of Engine 4.23 - use Example Game) </p>
          <p><a href="https://github.com/uetopia/ProMMO" target="_new">Source Code</a></p>
          <p><a href="https://www.youtube.com/watch?v=n_5Wt6AeSdc" target="_new">Video Demo</a></p>
          <p><a href="https://docs.google.com/document/d/1iHDyP-IziLCSjI03lCDi7Nl2l5uOGxxezMnF47EPlO0/edit" target="_new">Text Walkthrough</a> </p>
          <p>
            <a href="https://www.youtube.com/watch?v=Cd4xosTDj2Q" target="_new">Video Walkthrough</a>
          </p>
        </div>

        <div ng-show="viewDeprecatedProjects">
          <h2>TEMPLATE: PRO/eSPORTS</h2>
          <p> (deprecated as of Engine 4.23 - use Example Game) </p>
          <p><a href="https://github.com/uetopia/ProESports" target="_new">Source Code</a></p>
          <p><a href="https://www.youtube.com/watch?v=KSBeafdp7LU" target="_new">Video Demo</a></p>
          <p><a href="https://docs.google.com/document/d/1AmwkHQz0z8n-b0eCrxIJRFJF4D8ST29mRBbjSg84h3k/edit" target="_new">Text Walkthrough</a> </p>
          <p>
            <a href="https://www.youtube.com/watch?v=eCOGrGpWmUc" target="_new">Video Walkthrough</a>
          </p>
        </div>

        <div>
          <h2>TEMPLATE: Open MOBA</h2>
          <p><a href="https://github.com/uetopia/OpenMOBA/tree/4.21_OSS_Enhanced_Complete" target="_new">Source Code</a></p>
          <p><a href="https://www.youtube.com/watch?v=kds5pmYTkH4" target="_new">Video Demo</a></p>
          <p><a href="https://docs.google.com/document/d/1R_1CXvd8OrWz7W3QunqpWBvsMIvGb3Nf7L7sXMa4LI0/edit?usp=sharing" target="_new">Text Walkthrough</a> </p>
          <p>
            <a href="https://www.youtube.com/watch?v=yeqwrP_5c84" target="_new">Video Walkthrough</a>
          </p>
        </div>

        <div>
          <h2>EXTERNAL APP: METAGAME</h2>
          <p><a href="https://github.com/uetopia/metagame" target="_new">Source Code</a></p>
          <p><a href="https://www.youtube.com/watch?v=pyXIBXg-vAM" target="_new">Video Demo</a></p>
          <p><a href="https://docs.google.com/document/d/1e66EokSNnbdmIitA8CRcYmpRsDSjrzAXf3RoPHH_Wng/edit?usp=sharing" target="_new">Text Walkthrough</a> </p>
          <p>
            <a href="https://www.youtube.com/watch?v=VWE2IBveQ9A" target="_new">Video Walkthrough</a>
          </p>

        </div>

        <div>
          <h2>PLUGIN:  UETOPIA Online Subsystem</h2>
          <p><a href="https://github.com/uetopia/uetopia-online-subsystem" target="_new">Source Code</a></p>
        </div>

        <div>
          <h2>API</h2>
          <p><a href="#/api">API documentation and examples</a></p>
        </div>



          <div>
            <h2>Community</h2>
            <p><a href="#/blog/" >Dev Blog</a></p>
            <p><a href="https://twitter.com/UE4topia" target="_new">Twitter</a></p>
            <p><a href="mailto:ed@uetopia.com">Request an invite to the private UETOPIA discord</a></p>

          </div>



          <div>
            <h2>Known Issues</h2>
            <p>This is beta, and under active development.</p>

          </div>


        </md-content>
