<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new game level</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="addLevel">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input required ng-model="gamelevel.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Engine Travel URL String</label>
          <input required ng-model="gamelevel.engineTravelUrlString" class="ng-pristine ng-untouched ng-valid md-input" id="input_engineTravelUrlString" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Selection Probability</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="100000" ng-model="gamelevel.selectionProbability"  />
          <div class="hint">This can be any numeric value, what matters is the relative differences between the levels.</div>

          <div ng-messages="addLevel.selectionProbability.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 100000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Minimum number of outgoing links to new servers</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="10" ng-model="gamelevel.outgoingLinkMin"  />

          <div ng-messages="addLevel.outgoingLinkMin.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10
            </div>
          </div>
        </md-input-container>


        <md-input-container class="md-block">
          <label>Maximum number of outgoing links to new servers</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="16" ng-model="gamelevel.outgoingLinkMax"  />

          <div ng-messages="addLevel.outgoingLinkMax.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 16
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Chance to create a return link</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="1" ng-model="gamelevel.chanceToCreateReturnLink"  />

          <div ng-messages="addLevel.chanceToCreateReturnLink.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0.0
            </div>
            <div ng-message="max">
              Maximum 1.0
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Chance to create a random link to a nearby existing server</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="1" ng-model="gamelevel.chanceToCreateRandomLink"  />

          <div ng-messages="addLevel.chanceToCreateRandomLink.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0.0
            </div>
            <div ng-message="max">
              Maximum 1.0
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Links to traverse when creating a random link</label>
          <input required type="number" step="any" name="max_count" min="1"
               max="2" ng-model="gamelevel.randomLinkLevelTraverse"  />

          <div ng-messages="addLevel.randomLinkLevelTraverse.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 2
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Minimum CRED hold</label>
          <input required type="number" step="any" name="max_count" min="1"
               max="2000000" ng-model="gamelevel.minimumCurrencyHold"  />

          <div ng-messages="addLevel.minimumCurrencyHold.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 2000000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">

            <md-checkbox ng-model="gamelevel.sharded_server_template" aria-label="sharded_server_template">
                Shard this server to multiple sub-servers as load demands.
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block" ng-show="gamelevel.sharded_server_template">
          <label>How many shards are permitted?</label>
          <input required type="number" step="any" name="max_count" min="1"
               max="1000" ng-model="gamelevel.shard_count_maximum"  />



          <div ng-messages="addLevel.shard_count_maximum.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 1000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" ng-show="gamelevel.sharded_server_template">
          <label>Per-shard player capacity maximum</label>
          <input required type="number" step="any" name="max_count" min="1"
               max="80" ng-model="gamelevel.sharded_player_capacity_maximum"  />

               <div class="hint">The maximum number of players that this server can support.
                 Once the server exceeds this population, no new players will be directed here, and requests to transfer directly will be declined
               </div>

          <div ng-messages="addLevel.sharded_player_capacity_maximum.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 80
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" ng-show="gamelevel.sharded_server_template">
          <label>Per-shard player capacity threshold</label>
          <input required type="number" step="any" name="max_count" min="1"
               max="80" ng-model="gamelevel.sharded_player_capacity_threshold"  />

               <div class="hint">This number should be about half of the maximum capacity.  Once the server exceeds this population, players will begin to be redirected to other shards instead.</div>

          <div ng-messages="addLevel.sharded_player_capacity_threshold.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 80
            </div>
          </div>
        </md-input-container>




<md-button type="submit" ng-click="submitAdd()">Submit</md-button>

</fieldset>
</form>
