<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new game voucher</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="addOffer">
<fieldset>
        <p>For now, you have to create vouchers one at a time.  In the future bulk creation will be added</p>
        <p>Each press of the Submit button will generate a new voucher, which can be redeemed with the key below</p>
        <h3 ng-show="showapikey">{{ apikey }}</h3>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input required ng-model="gamevoucher.title" class="ng-pristine ng-untouched ng-valid md-input " id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="gamevoucher.description" md-maxlength="550" rows="5" md-select-on-focus></textarea>
        </md-input-container>


        <md-input-container class="md-block md-input-has-value">
          <label for="input_requireVoucher">Make this voucher Single Use Only</label>
          <md-checkbox ng-model="gamevoucher.singleUse" aria-label="requireVoucher">
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Start Time</label>
          <input ng-model="gamevoucher.starts" class="ng-pristine ng-untouched ng-valid md-input " id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <div class="hint"> YYYY-MM-DD HH:MM:SS UTC - Leave blank to start right now</div>


        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">End Time</label>
          <input  ng-model="gamevoucher.ends" class="ng-pristine ng-untouched ng-valid md-input " id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <div class="hint">YYYY-MM-DD HH:MM:SS UTC - Leave blank to end in one day</div>



<md-button type="submit" ng-click="submitAdd(addOffer)">Submit</md-button>

</fieldset>
</form>
