<div ng-show="!loaded_game_players" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded_game_players">



                    <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" >
                      <div class="md-toolbar-tools">
                        <h3 class="ng-binding">Players</h3>
                      </div>
                    </md-toolbar>
                      <md-content layout-padding="" class="layout-padding _md" >

                          <div>Players hold in-game data, unless characters are enabled.  With characters enabled, players are a container for characters.</div>

                          <div ng-show="!players.length">Nothing to show.</div>

                          <md-list>
                           <md-list-item ng-repeat="player in players" class="noright">
                             <p><b><span am-time-ago="player.modified | amUtc "></span></b> : {{ player.userTitle }}</p>
                             <md-button class="md-secondary" ui-sref="developergameplayerdetail({gameKeyId:gameKeyId, gamePlayerKeyId:player.key_id})">edit</md-button>
                           </md-list-item>
                          </md-list>

                        </md-content>

</div>
