<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new game offer</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="addOffer">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input required ng-model="gameoffer.title" class="ng-pristine ng-untouched ng-valid md-input " id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="gameoffer.description" md-maxlength="550" rows="5" md-select-on-focus></textarea>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_icon_url">Icon</label>
          <input required ng-model="gameoffer.icon_url" class="ng-pristine ng-untouched ng-valid md-input" id="input_icon_url" aria-invalid="false"><div class="md-errors-spacer"></div>

          <div class="hint">Enter an icon by name from this list:  https://material.io/tools/icons/?style=baseline</div>

        </md-input-container>

          <md-input-container class="md-block">
            <label>Offer Type</label>
            <md-select ng-model="gameoffer.offerType" placeholder="Offer Type" class="md-no-underline">
              <md-option value="Sticker Price">Sticker Price</md-option>
              <md-option value="Subscription">Subscription</md-option>
              <md-option value="Booster">Booster</md-option>
            </md-select>
          </md-input-container>

          <div>
            <h3>Duration</h3>
            <p>Offers do not expire themselves.  If you want an offer to only be avilable for a duration, make it expire by using a voucher.
              These durations are used to calculate the timestamp when a user acquires this offer.</p>


            <md-input-container class="md-block">
              <label>Duration - Days</label>
              <input required type="number" step="any" name="duration_days" min="0"
                   max="365" ng-model="gameoffer.duration_days"  />

              <div class="hint">Zero means NO days.  Zero days and Zero seconds will never expire.</div>

              <div ng-messages="addOffer.duration_days.$error" multiple md-auto-hide="true">
                <div ng-message="required">
                  A number is required here.
                </div>
                <div ng-message="min">
                  Minimum 0
                </div>
                <div ng-message="max">
                  Maximum 365
                </div>
              </div>
            </md-input-container>

            <md-input-container class="md-block">
              <label>Duration - Seconds</label>
              <input required type="number" step="any" name="duration_seconds" min="0"
                   max="86400" ng-model="gameoffer.duration_seconds"  />

              <div class="hint">Zero means NO seconds.  Zero days and Zero seconds will never expire.</div>

              <div ng-messages="addOffer.duration_seconds.$error" multiple md-auto-hide="true">
                <div ng-message="required">
                  A number is required here.
                </div>
                <div ng-message="min">
                  Minimum 0
                </div>
                <div ng-message="max">
                  Maximum 86400
                </div>
              </div>
            </md-input-container>

          </div>


          <h3 class="md-title">Tags Granted while offer is active on a player</h3>
            <md-chips name="tags" ng-model="gameoffertags" readonly="false" md-removable="true" ng-required="true">
            </md-chips>
            <div class="md-chips-messages"
                 ng-show="addOffer.tags.$dirty || addOffer.$submitted"
                 ng-messages="addOffer.tags.$error">
              <div ng-message="required">At least one tag is required</div>
            </div>
            <div class="hint">Press Enter to create a tag.</div>

<br><br>

        <md-input-container class="md-block">
          <label>Price</label>
          <input required type="number" step="any" name="price" min="0"
               max="10000000" ng-model="gameoffer.price"  />

          <div ng-messages="addOffer.price.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10000000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_requireVoucher">Require a Voucher to be able to redeem this offer</label>
          <md-checkbox ng-model="gameoffer.requireVoucher" aria-label="requireVoucher">
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_visible">Make this offer visible on the game view page</label>
          <md-checkbox ng-model="gameoffer.visible" aria-label="visible">
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_visible">Make this offer active.  Inactive offers cannot be redeemed.</label>
          <md-checkbox ng-model="gameoffer.active" aria-label="active">
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_visible">Make this offer timed.  Upon aquisition, a timer is set using the durations above.  When the timer expires, the tags gained by this offer are removed</label>
          <md-checkbox ng-model="gameoffer.timed" aria-label="timed">
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_autoRefreshCapable">Make this offer capable of auto-refresh.  Users can select auto-refreshing when they purchase the offer.  It should only be used on timed offers</label>
          <md-checkbox ng-model="gameoffer.autoRefreshCapable" aria-label="autoRefreshCapable">
            </md-checkbox>
        </md-input-container>



<md-button type="submit" ng-click="submitAdd(addOffer)">Submit</md-button>

</fieldset>
</form>
