<div ng-show="!loaded_game_mode" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded_game_mode">

  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Update a game mode</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="form">
<fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">onlineSubsystemReference</label>
          <input ng-model="gamemode.onlineSubsystemReference" class="ng-pristine ng-untouched ng-valid md-input ng-valid-email" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Matchmaker Type</label>
          <md-select ng-model="gamemode.matchmakerAlgorithm" placeholder="Matchmaker Type" class="md-no-underline">
            <md-option value="regionalRank">Regional Rank</md-option>
            <md-option value="regionalExperience">Regional Experience</md-option>
            <md-option value="regionalScore">Regional Score</md-option>
            <md-option value="globalRank">Global Rank</md-option>
            <md-option value="globalExperience">Global Experience</md-option>
            <md-option value="globalScore">Global Score</md-option>
            <md-option value="metaGame">External Meta Game</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Matchmaker maximum disparity</label>
          <input required type="number" step="any" name="max_count" min="50"
               max="1000000" ng-model="gamemode.matchmakerDisparityMax"  />

          <div ng-messages="projectForm.matchmakerDisparityMax.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 50
            </div>
            <div ng-message="max">
              Maximum 100000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>How many players per team?</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="100" ng-model="gamemode.playersPerTeam"  />

          <div ng-messages="projectForm.playersPerTeam.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 100
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>How many teams?</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="10" ng-model="gamemode.teams"  />

          <div ng-messages="projectForm.teams.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Minimum Team size</label>
          <input required type="number" step="any" name="teamSizeMin" min="0"
               max="10" ng-model="gamemode.teamSizeMin"  />

          <div ng-messages="projectForm.teamSizeMin.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Maximum Team size</label>
          <input required type="number" step="any" name="teamSizeMin" min="0"
               max="10" ng-model="gamemode.teamSizeMax"  />

          <div ng-messages="projectForm.teamSizeMax.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10
            </div>
          </div>
        </md-input-container>







        <md-input-container class="md-block">
          <label>admissionFeePerPlayer</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="10000000" ng-model="gamemode.admissionFeePerPlayer"  />

          <div ng-messages="projectForm.admissionFeePerPlayer.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10000000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>winRewardPerPlayer</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="2000000" ng-model="gamemode.winRewardPerPlayer"  />

          <div ng-messages="projectForm.winRewardPerPlayer.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 2000000
            </div>
          </div>
        </md-input-container>

        <h3 class="md-title">Optional - Tags required to play this game mode</h3>
          <md-chips name="tags" ng-model="gamemodetags" readonly="false" md-removable="true">
          </md-chips>
          <div class="md-chips-messages"
               ng-show="addGameMode.tags.$dirty || addOffer.$submitted"
               ng-messages="addGameMode.tags.$error">
          </div>
          <div class="hint">Press Enter to create a tag.</div>

<br><br>


        <h2>Ads</h2>
        <md-checkbox ng-model="gamemode.ads_allowed" aria-label="ads_allowed">
            Allow Ads.
        </md-checkbox>
        <div ng-show="gamemode.ads_allowed">

          <md-checkbox ng-model="gamemode.ads_require_approval" aria-label="ads_require_approval">
              Ads must be approved before they are allowed to be shown.
          </md-checkbox>

          <md-checkbox ng-model="gamemode.ads_required" aria-label="ads_required">
              Ads are required to play this game mode.  If there are no ads, no matches will be created.
          </md-checkbox>

          <md-input-container class="md-block md-input-has-value" ng-show="!gamemode.ads_required">
            <label for="input_ads_default_textures">Default texture to use if there are no ads</label>
            <input ng-model="gamemode.ads_default_textures" class="ng-pristine ng-untouched ng-valid md-input" id="input_ads_default_textures" aria-invalid="false"><div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Maximum number of ads that can be displayed in a single match</label>
            <input type="number" step="any" name="ads_per_match_maximum" min="1"
                 max="8" ng-model="gamemode.ads_per_match_maximum"  />

            <div ng-messages="projectForm.ads_per_match_maximum.$error" multiple md-auto-hide="true">
              <div ng-message="min">
                Minimum 0
              </div>
              <div ng-message="max">
                Maximum 8 (for now - let us know if you need more)
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Minimum bid (per impression) to place an ad</label>
            <input type="number" step="any" name="ads_minimum_bid_per_impression" min="10"
                 max="100000" ng-model="gamemode.ads_minimum_bid_per_impression"  />

            <div ng-messages="projectForm.ads_minimum_bid_per_impression.$error" multiple md-auto-hide="true">
              <div ng-message="min">
                Minimum 10
              </div>
              <div ng-message="max">
                Maximum 100000 (for now - let us know if you need more)
              </div>
            </div>
          </md-input-container>

          <md-input-container class="md-block md-input-has-value">
            <label for="input_ads_description">Short desciption of where advertisers should expect to see the ads.</label>
            <input ng-model="gamemode.ads_description" class="ng-pristine ng-untouched ng-valid md-input" id="input_ads_description" aria-invalid="false"><div class="md-errors-spacer"></div>
          </md-input-container>

        </div>


        <div>
          <md-button type="submit" ng-click="submit(form, gamemode)" >Save</md-button>
        </div>
        <div>
          <md-button type="submit" ng-click="remove(gamemode)" >Delete</md-button>
        </div>
</fieldset>
</form>

</div>
<div ng-show="loaded_ads">

      <md-toolbar class="demo-toolbar md-primary md-hue-3 _md _md-toolbar-transitions" >
        <div class="md-toolbar-tools">
          <h3 class="ng-binding">ads</h3>
        </div>
      </md-toolbar>
        <md-content layout-padding="" class="layout-padding _md" >

          <div ng-show="!ads.length">
              No ads to show.
          </div>

          <md-list>
           <md-list-item ng-repeat="ad in ads" class="noright">
             <md-icon><img src="{{ ad.icon_url }}" alt="ICON" width="64px"></md-icon>
             <p><b><span am-time-ago="ad.created | amUtc "></span></b> : {{ ad.title }}</p>
             <md-button class="md-secondary" ui-sref="developergamemodead({gameKeyId:gamemode.gameKeyId, gameModeKeyId:gamemode.key_id, key_id: ad.key_id})">REVIEW</md-button>
           </md-list-item>
          </md-list>

        </md-content>

  </div>
