<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Create a new game level link</h3>

      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">
        <p>Make sure that the location is accessible in your level!</p>

<form class="form-horizontal" name="addLevel">
<fieldset>

        <md-input-container class="md-block">
          <label>Selection Probability</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="100000" ng-model="gamelevellink.selectionProbability"  />
          <div class="hint">This can be any numeric value, what matters is the relative differences between the levels.</div>

          <div ng-messages="addLevel.selectionProbability.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 100000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>locationX</label>
          <input required type="number" step="any" name="locationX" ng-model="gamelevellink.locationX"  />

          <div ng-messages="addLevel.locationX.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>locationY</label>
          <input required type="number" step="any" name="locationX" ng-model="gamelevellink.locationY"  />

          <div ng-messages="addLevel.locationY.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>locationZ</label>
          <input required type="number" step="any" name="locationX" ng-model="gamelevellink.locationZ"  />

          <div ng-messages="addLevel.locationZ.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_resourcesUsedToTravel">In game resources used to travel. </label>
          <input ng-model="gamelevellink.resourcesUsedToTravel" class="ng-pristine ng-untouched ng-valid md-input" id="input_resourcesUsedToTravel" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_resourceAmountsUsedToTravel">In game resource amounts used to travel.  </label>
          <input ng-model="gamelevellink.resourceAmountsUsedToTravel" class="ng-pristine ng-untouched ng-valid md-input" id="input_resourceAmountsUsedToTravel" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Currency cost to travel. </label>
          <input required type="number" step="any" name="currencyCostToTravel" min="0"
               max="1000000" ng-model="gamelevellink.currencyCostToTravel"  />

          <div ng-messages="projectForm.currencyCostToTravel.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 1000000
            </div>
          </div>
        </md-input-container>

        <md-checkbox ng-model="gamelevellink.isReturnLink" aria-label="isReturnLink">
            Use this link as the return link.  You should only have one of these per level.
          </md-checkbox>

<div>
<md-button type="submit" ng-click="submitAdd()">Submit</md-button>
</div>
</fieldset>
</form>
