<div ng-show="!loaded_game_consignment" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded_game_consignment">

  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Update a game consignment record</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="form">
  <h3>Key ID: {{ gameconsignment.key_id }}</h3>
<fieldset>


          <md-input-container class="md-block md-input-has-value">
            <label for="input_title">Title</label>
            <input ng-model="gameconsignment.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Description</label>
            <textarea ng-model="gameconsignment.description" md-maxlength="550" rows="5" md-select-on-focus></textarea>
          </md-input-container>

          <md-input-container class="md-block">
            <label>pricePerUnit</label>
            <input required type="number" step="any" name="pricePerUnit" min="1"
                 max="10000" ng-model="gameconsignment.pricePerUnit"  />

            <div class="hint">How much to pay when this sale occurs</div>

            <div ng-messages="gameconsignment.pricePerUnit.$error" multiple md-auto-hide="true">
              <div ng-message="required">
                A number is required here.
              </div>
              <div ng-message="min">
                Minimum 0
              </div>
              <div ng-message="max">
                Maximum 10000
              </div>
            </div>
          </md-input-container>


          <md-input-container class="md-block md-input-has-value">
            <label for="input_requireVoucher">Send the amount to a Group instead of a single User</label>
            <md-checkbox ng-model="gameconsignment.group" aria-label="group">
              </md-checkbox>
          </md-input-container>

          <div ng-show="gameconsignment.group">

            <md-input-container class="md-block md-input-has-value">
              <label for="input_title">Group Key Id</label>
              <input ng-model="gameconsignment.groupKeyId" class="ng-pristine ng-untouched ng-valid md-input " id="input_groupKeyId" aria-invalid="false"><div class="md-errors-spacer"></div>
            </md-input-container>

          </div>

          <div ng-show="!gameconsignment.group">

            <md-input-container class="md-block md-input-has-value">
              <label for="input_title">User Key Id</label>
              <input ng-model="gameconsignment.userKeyId" class="ng-pristine ng-untouched ng-valid md-input " id="input_userKeyId" aria-invalid="false"><div class="md-errors-spacer"></div>
            </md-input-container>

          </div>


          <div>
            <md-button type="submit" ng-click="submit(form, gameoffer)" >Save</md-button>
          </div>


</fieldset>
</form>

</div>
