<div ng-show="!loaded_game_data" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded_game_data">

  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Update a game data record</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

<form class="form-horizontal" name="form">
<fieldset><md-input-container class="md-block md-input-has-value">
  <label for="input_title">Human Readable reference</label>
  <input ng-model="gamedata.customKey" class="ng-pristine ng-untouched ng-valid md-input" id="input_customKey" aria-invalid="false"><div class="md-errors-spacer"></div>
</md-input-container>
<md-input-container class="md-block">

  <md-input-container class="md-block">
    <label>Data</label>
    <textarea ng-model="gamedata.data" md-maxlength="5000" rows="12" md-select-on-focus></textarea>
    <div class="hint">Make sure your JSON is valid!</div>
  </md-input-container>

        <div>
          <md-button type="submit" ng-click="submit(form, gamedata)" >Save</md-button>
        </div>
        <div>
          <md-button type="submit" ng-click="remove(gamedata)" >Delete</md-button>
        </div>
</fieldset>
</form>

</div>
