<div ng-show="!loaded_game_level" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

<div ng-show="loaded_game_level">
  <md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Update a game level</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

      <form class="form-horizontal" name="form">
      <fieldset>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input required ng-model="gamelevel.title" class="ng-pristine ng-untouched ng-valid md-input" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Engine Travel URL String</label>
          <input required ng-model="gamelevel.engineTravelUrlString" class="ng-pristine ng-untouched ng-valid md-input" id="input_engineTravelUrlString" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Selection Probability</label>
          <input required type="number" step="any" name="selectionProbability" min="0"
               max="100000" ng-model="gamelevel.selectionProbability"  />
          <div class="hint">This can be any numeric value, what matters is the relative differences between the levels.</div>

          <div ng-messages="addLevel.selectionProbability.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 100000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Minimum number of outgoing links to new servers</label>
          <input required type="number" step="any" name="outgoingLinkMin" min="0"
               max="10" ng-model="gamelevel.outgoingLinkMin"  />

          <div ng-messages="addLevel.outgoingLinkMin.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 10
            </div>
          </div>
        </md-input-container>


        <md-input-container class="md-block">
          <label>Maximum number of outgoing links to new servers</label>
          <input required type="number" step="any" name="outgoingLinkMax" min="0"
               max="16" ng-model="gamelevel.outgoingLinkMax"  />

          <div ng-messages="addLevel.outgoingLinkMax.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 16
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Chance to create a return link</label>
          <input required type="number" step="any" name="chanceToCreateReturnLink" min="0"
               max="1" ng-model="gamelevel.chanceToCreateReturnLink"  />

          <div ng-messages="addLevel.chanceToCreateReturnLink.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0.0
            </div>
            <div ng-message="max">
              Maximum 1.0
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Chance to create a random link to a nearby existing server</label>
          <input required type="number" step="any" name="max_count" min="0"
               max="1" ng-model="gamelevel.chanceToCreateRandomLink"  />

          <div ng-messages="addLevel.chanceToCreateRandomLink.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0.0
            </div>
            <div ng-message="max">
              Maximum 1.0
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Links to traverse when creating a random link</label>
          <input required type="number" step="any" name="max_count" min="1"
               max="2" ng-model="gamelevel.randomLinkLevelTraverse"  />

          <div ng-messages="addLevel.randomLinkLevelTraverse.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 2
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Minimum CRED hold</label>
          <input required type="number" step="any" name="minimumCurrencyHold" min="1"
               max="2000000" ng-model="gamelevel.minimumCurrencyHold"  />

          <div ng-messages="addLevel.minimumCurrencyHold.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 2000000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
            <md-checkbox ng-model="gamelevel.sharded_server_template" aria-label="sharded_server_template">
                Shard this server to multiple sub-servers as load demands.
            </md-checkbox>
        </md-input-container>

        <md-input-container class="md-block" ng-show="gamelevel.sharded_server_template">
          <label>How many shards are permitted?</label>
          <input required type="number" step="any" name="shard_count_maximum" min="1"
               max="1000" ng-model="gamelevel.shard_count_maximum"  />



          <div ng-messages="addLevel.shard_count_maximum.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 1000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" ng-show="gamelevel.sharded_server_template">
          <label>Per-shard player capacity maximum</label>
          <input required type="number" step="any" name="sharded_player_capacity_maximum" min="1"
               max="80" ng-model="gamelevel.sharded_player_capacity_maximum"  />

               <div class="hint">The maximum number of players that this server can support.
                 Once the server exceeds this population, no new players will be directed here, and requests to transfer directly will be declined
               </div>

          <div ng-messages="addLevel.sharded_player_capacity_maximum.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 100
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block" ng-show="gamelevel.sharded_server_template">
          <label>Per-shard player capacity threshold</label>
          <input required type="number" step="any" name="sharded_player_capacity_threshold" min="1"
               max="80" ng-model="gamelevel.sharded_player_capacity_threshold"  />

               <div class="hint">This number should be about half of the maximum capacity.  Once the server exceeds this population, players will begin to be redirected to other shards instead.</div>

          <div ng-messages="addLevel.sharded_player_capacity_threshold.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 1
            </div>
            <div ng-message="max">
              Maximum 80
            </div>
          </div>
        </md-input-container>



        <div>
          <md-button type="submit" ng-click="submit(form, gamelevel)" >Save</md-button>
        </div>
        <div>
          <md-button type="submit" ng-click="remove(gamelevel)" >Delete</md-button>
        </div>
</fieldset>
</form>
</md-content>

<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions" >
  <div class="md-toolbar-tools">
    <h3 class="ng-binding">Game Level Links</h3>
  </div>
</md-toolbar>
  <md-content layout-padding="" class="layout-padding _md" >

    <div ng-show="!loaded_game_level_links" class="center"> <md-progress-circular md-mode="indeterminate"></md-progress-circular> </div>

    <div ng-show="loaded_game_level_links">

      <div>Game Level links are locations where it is possible to spawn a server portal.  It's important to have enough options to satisfy the Maximum value specified above, plus an extra for the random link.</div>
      <div>Also, set up one link to be the return link, if you are allowing it to spawn.</div>
      <div ng-show="!returnLinkDefined" class="md-warn"><i class="material-icons">warning</i> Warning, No return link defined</div>
      <div ng-show="game_level_links.length < gamelevel.outgoingLinkMax" class="md-warn"><i class="material-icons">warning</i> Warning, Outgoing link maximum is greater than the number of defined links</div>
      <div ng-show="game_level_links.length < gamelevel.outgoingLinkMax +2" class="md-warn"><i class="material-icons">warning</i> Warning, Possible link count is greater than the number of defined links</div>

      <div ng-show="!game_level_links.length">Nothing to show.</div>

      <md-button style="margin-bottom: 20px;" type="submit" ui-sref="developergamelevellinkcreate({gameKeyId:gamelevel.gameKeyId, gameLevelKeyId:gamelevel.key_id})">Add a new level link</md-button>

        <div layout="row" layout-wrap>
        <md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch ng-repeat="gamelevellink in game_level_links">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">{{gamelevellink.locationX}}, {{gamelevellink.locationY}}, {{gamelevellink.locationZ}}</span>
              <span class="md-subhead">{{gamelevellink.selectionProbability}} probability</span>
              <span class="md-subhead" ng-show="gamelevellink.isReturnLink">Return Link</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-sm card-media"></div>
            </md-card-title-media>
          </md-card-title>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="developergamelevellinkdetail({gameKeyId:gamelevel.gameKeyId, gameLevelKeyId:gamelevel.key_id, key_id:gamelevellink.key_id})">Edit</md-button>

          </md-card-actions>
        </md-card>
        </div>

    </div>


    </md-content>

  </div>
