<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Patch the game</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">

        This patch tool will send out a warning message to all servers, then shutdown all servers after a delay.<br>
        It will then update the game and all server clusters to the new Disk Image, and update the patcher manifest xml.

<form class="form-horizontal" name="addContact">
<fieldset>

  <md-input-container class="md-block md-input-has-value">
    <label for="patcher_server_shutdown_warning_chat">Server Shutdown Message</label>
    <input required ng-model="gamepatch.patcher_server_shutdown_warning_chat" class="ng-pristine ng-untouched ng-valid md-input " id="patcher_server_shutdown_warning_chat" aria-invalid="false" ><div class="md-errors-spacer"></div>
  </md-input-container>

  <md-input-container class="md-block md-input-has-value">
    <label for="patcher_discord_message">Discord Patch Message</label>
    <input required ng-model="gamepatch.patcher_discord_message" class="ng-pristine ng-untouched ng-valid md-input " id="patcher_discord_message" aria-invalid="false" ><div class="md-errors-spacer"></div>
  </md-input-container>




  <md-input-container class="md-block">
    <label>Time Delay before patching</label>
    <input required type="number" step="any" name="patcher_server_shutdown_seconds" min="30"
         max="300" ng-model="gamepatch.patcher_server_shutdown_seconds"  />

    <div ng-messages="addContact.patcher_server_shutdown_seconds.$error" multiple md-auto-hide="true">
      <div ng-message="required">
        A number is required here.
      </div>
      <div ng-message="min">
        Minimum 30
      </div>
      <div ng-message="max">
        Maximum 300
      </div>
    </div>
  </md-input-container>

        <md-input-container class="md-block md-input-has-value">
          <label for="patcher_server_disk_image">New Disk Image Name</label>
          <input ng-model="gamepatch.patcher_server_disk_image" class="ng-pristine ng-untouched ng-valid md-input" id="patcher_server_disk_image" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">

          <md-input-container class="md-block">
            <label>New Patch manifest XML</label>
            <textarea ng-model="gamepatch.patcher_prepatch_xml" md-maxlength="150000" rows="5" md-select-on-focus></textarea>
            <div class="hint">Make sure your XML is valid!</div>
          </md-input-container>


<md-button type="submit" ng-click="submitAdd()">Submit</md-button>

</fieldset>
</form>
