<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Add a Server Link</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">
        <form name="form" novalidate>

          <md-input-container class="md-block" flex-gt-sm>
            <label>Target Server</label>
            <md-select ng-model="targetserver">
              <md-option ng-repeat="server in servers" value="{{server.key_id}}">
                {{server.title}}
              </md-option>
            </md-select>
          </md-input-container>

          <md-checkbox ng-model="serverlink.permissionCanMount" aria-label="permissionCanMount">
              Permission:  Can mount the target server.
            </md-checkbox>
          <md-checkbox ng-model="serverlink.permissionCanDismount" aria-label="permissionCanDismount">
              Permission: Can dismount the target server.
            </md-checkbox>
          <md-checkbox ng-model="serverlink.permissionCanUserTravel" aria-label="permissionCanUserTravel">
              Permission:  Can transfer a user to the target server.
            </md-checkbox>
          <md-checkbox ng-model="serverlink.isEntryPoint" aria-label="isEntryPoint">
              Use this server as an entry point to the cluster.
            </md-checkbox>

        <md-input-container class="md-block md-input-has-value">
          <label for="input_resourcesUsedToTravel">In game resources used to travel. </label>
          <input ng-model="serverlink.resourcesUsedToTravel" class="ng-pristine ng-untouched ng-valid md-input" id="input_resourcesUsedToTravel" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_resourceAmountsUsedToTravel">In game resource amounts used to travel.  </label>
          <input ng-model="serverlink.resourceAmountsUsedToTravel" class="ng-pristine ng-untouched ng-valid md-input" id="input_resourceAmountsUsedToTravel" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Currency cost to travel. </label>
          <input required type="number" step="any" name="currencyCostToTravel" min="0"
               max="1000" ng-model="serverlink.currencyCostToTravel"  />

          <div ng-messages="projectForm.currencyCostToTravel.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 1000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Coordinate location X.  This is used to place travel portals in the game world.</label>
          <input required type="number" step="any" name="min_online" ng-model="serverlink.coordLocationX"  />
          <div ng-messages="projectForm.coordLocationX.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Coordinate location Y.  This is used to place travel portals in the game world.</label>
          <input required type="number" step="any" name="min_online" ng-model="serverlink.coordLocationY"  />
          <div ng-messages="projectForm.coordLocationY.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Coordinate location Z.  This is used to place travel portals in the game world.</label>
          <input required type="number" step="any" name="min_online" ng-model="serverlink.coordLocationZ"  />
          <div ng-messages="projectForm.coordLocationZ.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Rotation X.  This is used to place travel portals in the game world.</label>
          <input required type="number" step="any" name="min_online" ng-model="serverlink.rotationX"  />
          <div ng-messages="projectForm.rotationX.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Rotation Y.  This is used to place travel portals in the game world.</label>
          <input required type="number" step="any" name="min_online" ng-model="serverlink.rotationY"  />
          <div ng-messages="projectForm.rotationY.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Rotation Z.  This is used to place travel portals in the game world.</label>
          <input required type="number" step="any" name="min_online" ng-model="serverlink.rotationZ"  />
          <div ng-messages="projectForm.rotationZ.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
          </div>
        </md-input-container>

        <md-button type="submit" ng-click="submitAdd()">Submit</md-button>
      </form>
</md-content>
