<md-toolbar class="demo-toolbar md-primary _md _md-toolbar-transitions">
      <div class="md-toolbar-tools">
        <h3 class="ng-binding">Add a Server</h3>
      </div>
    </md-toolbar>
      <md-content layout-padding="" class="layout-padding _md">
        <form name="form" novalidate>
        <md-input-container class="md-block md-input-has-value">
          <label for="input_title">Title</label>
          <input ng-model="server.title" class="ng-pristine ng-untouched ng-valid md-input ng-valid-email" id="input_title" aria-invalid="false"><div class="md-errors-spacer"></div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Description</label>
          <textarea ng-model="server.description" md-maxlength="150" rows="5" md-select-on-focus></textarea>
        </md-input-container>

        <md-input-container class="md-block">
          <label>What is the minimum currency amount a user must transfer into this server to play here? </label>
          <input required type="number" step="any" name="max_count" min="0"
               max="1000000" ng-model="server.minimumCurrencyHold"  />

          <div ng-messages="projectForm.minimumCurrencyHold.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 1000000
            </div>
          </div>
        </md-input-container>

        <md-input-container class="md-block">
          <label>What is the admission fee a user must pay to play here? </label>
          <input required type="number" step="any" name="min_online" min="0"
               max="100000" ng-model="server.admissionFee"  />

          <div ng-messages="projectForm.admissionFee.$error" multiple md-auto-hide="true">
            <div ng-message="required">
              A number is required here.
            </div>
            <div ng-message="min">
              Minimum 0
            </div>
            <div ng-message="max">
              Maximum 100000
            </div>
          </div>
        </md-input-container>



        <md-input-container class="md-block" flex-gt-sm>
          <label>Level to load on launch.  Your server can change this via the API, but it needs to know how to boot up the first time.</label>
          <md-select ng-model="targetgamelevel">
            <md-option ng-repeat="game_level in game_levels" value="{{game_level.key_id}}">
              {{game_level.title}}
            </md-option>
          </md-select>
        </md-input-container>

        <h3 class="md-title">Optional - Tags required to play on this server</h3>
          <md-chips name="tags" ng-model="servertags" readonly="false" md-removable="true">
          </md-chips>
          <div class="md-chips-messages"
               ng-show="form.tags.$dirty || form.$submitted"
               ng-messages="form.tags.$error">
          </div>
          <div class="hint">Press Enter to create a tag.</div>

<br><br>

        <md-input-container class="md-block md-input-has-value">



          <md-checkbox ng-model="server.infinite_server_unused" aria-label="infinite_server_unused" id="input_infinite_server_unused">
            Infinite mode placeholder.  If this is true, all outgoing server links and all connected servers will be created when a user transfers here.
            </md-checkbox>
            <div class="hint">Be careful!  <br>
              Don't create server links for placeholder servers.<br>
            Don't turn this on after it has been turned off, or you will lose all of the existing server links, and servers may be unreachable.</div>
          </md-input-container>

        <md-checkbox ng-model="server.invisible_developer_setting" aria-label="invisible_developer_setting">
            Keep this server invisible to other users.  Useful for testing or development.
          </md-checkbox>

          <md-input-container class="md-block md-input-has-value">
            <label for="input_hostConnectionLink">hostConnectionLink.  This normally is overridden by dedicated servers on startup, but it should be set, so session searches can find it.  Just use a placeholder if you don't know what it is</label>
            <input ng-model="server.hostConnectionLink" class="ng-pristine ng-untouched ng-valid md-input" id="input_hostConnectionLink" aria-invalid="false"><div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container class="md-block md-input-has-value">
            <label for="input_session_host_address">session_host_address.  This normally is overridden by dedicated servers on startup, but it should be something so session searches can find it.</label>
            <input ng-model="server.session_host_address" class="ng-pristine ng-untouched ng-valid md-input" id="input_session_host_address" aria-invalid="false"><div class="md-errors-spacer"></div>
          </md-input-container>

          <md-input-container class="md-block md-input-has-value">
            <label for="input_session_id">session_id.  This normally is overridden by dedicated servers on startup, but it should be something so session searches can find it</label>
            <input ng-model="server.session_id" class="ng-pristine ng-untouched ng-valid md-input" id="input_session_id" aria-invalid="false"><div class="md-errors-spacer"></div>
          </md-input-container>

        <md-button type="submit" ng-click="submitAdd()">Submit</md-button>
      </form>
</md-content>
